<!DOCTYPE html>
<html lang="zh-cn">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lifeni">
        <meta name="description" content="{{文章描述}}">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/framework.css">
        <link rel="stylesheet" href="/static/css/article.css">
        <title>{{文章标题}} - Lifeni</title>
    </head>

    <body>
        <header class="color" data-keyword="{{文章关键词}}">
            <div>
                <span class="text name">Lifeni</span>
            </div>
            <div>
                <button class="button index icon color" id="button-index" title="查看目录">查看目录</button>
                <nav class="window index" id="window-index"></nav>
                <button class="button setting icon color" id="button-setting" title="查看设置">查看设置</button>
                <div class="window setting" id="window-setting">
                    <label class="label dark" tabindex="0" title="启用/禁用暗色模式">
                        <input type="checkbox" name="dark-mode" class="checkbox dark" id="checkbox-dark">
                        <span class="text">暗色主题</span>
                    </label>
                    <label class="label store" tabindex="0" title="使用 Local Storage 把此设置储存在浏览器中">
                        <input type="checkbox" name="store-mode" class="checkbox store" id="checkbox-store">
                        <span class="text">记住这些设置</span>
                    </label>
                </div>
            </div>
        </header>
        <main>
            <article>
                {{文章内容}}
            </article>
        </main>
        <footer>
            <div>
                <span class="text slogan">追求源于热爱。</span>
            </div>
            <div>
                <a href="http://www.beian.miit.gov.cn/" class="link icp" target="_blank"
                    rel="noopener noreferrer">鲁ICP备19006085号</a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37132102371392" class="link beian"
                    target="_blank" rel="noopener noreferrer">鲁公网安备 37132102371392号</a>
            </div>
        </footer>
        <script src="/static/javascript/index.js"></script>
        <script src="/static/javascript/article.js"></script>
    </body>

</html>