<!DOCTYPE html>
<html lang="zh-cn">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lifeni">
        <meta name="description" content="{{INSERT-0}}">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans&display=block"
            rel="stylesheet">
        <link rel="stylesheet" href="/static/css/article.css">
        <title>{{INSERT-1}}</title>
    </head>

    <body>
        <header keyword="{{INSERT-2}}">
            <div class="part">
                <a href="https://lifeni.life" class="home">Lifeni</a>
            </div>
            <div class="part">
                <button class="more" id="more"></button>
            </div>
        </header>
        <main>
            <article>
                {{INSERT-3}}
            </article>
        </main>
        <footer>
            <div class="part">
                <span>追求源于热爱。</span>
            </div>
            <div class="part">
                <a href="http://www.beian.miit.gov.cn/" target="_blank">鲁ICP备19006085号</a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37132102371392"
                    target="_blank">鲁公网安备 37132102371392号</a>
            </div>
        </footer>
        <script src="/static/javascript/article.js"></script>
    </body>

</html>