<!DOCTYPE html>
<html lang="zh-cn">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lifeni">
        <meta name="description" content="{{INSERT-0}}">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans&display=block"
            rel="stylesheet">
        <link rel="stylesheet" href="/static/css/article.css">
        <title>{{INSERT-1}} - Lifeni</title>
    </head>

    <body>
        <header data-keyword="{{INSERT-2}}">
            <div class="part">
                <a href="https://lifeni.life" class="home" title="lifeni.life">Lifeni</a>
            </div>
            <div class="part">
                <button class="more" id="more" title="查看菜单"></button>
                <div class="window" id="window">
                    <input type="checkbox" name="dark-mode" class="dark-checkbox" id="dark">
                    <label for="dark" class="dark" tabindex="0" title="启用/禁用暗色模式">
                        <span class="checkbox"></span>
                        暗色主题
                    </label>
                    <input type="checkbox" name="store-mode" class="store-checkbox" id="store">
                    <label for="store" class="store" tabindex="0" title="把此设置储存在浏览器中">
                        <span class="checkbox"></span>
                        启用储存
                    </label>
                    <a href="https://github.com/Lifeni/website/blob/beta/README.md" class="readme">关于这个网站</a>
                </div>
            </div>
        </header>
        <main>
            <article>
                {{INSERT-3}}
            </article>
        </main>
        <footer>
            <div class="part">
                <span>追求源于热爱。</span>
            </div>
            <div class="part">
                <a href="http://www.beian.miit.gov.cn/" class="icp" target="_blank"
                    rel="noopener noreferrer">鲁ICP备19006085号</a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37132102371392" class="beian"
                    target="_blank" rel="noopener noreferrer">鲁公网安备 37132102371392号</a>
            </div>
        </footer>
        <script src="/static/javascript/index.js"></script>
        <script src="/static/javascript/article.js"></script>
    </body>

</html>