<!DOCTYPE html>
<html lang="zh-cn">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lifeni">
        <meta name="description" content="记录干杯。">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=block" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/home.css">
        <title>Lifeni</title>
    </head>

    <body>
        <header>
            <div class="part">
                <a href="https://lifeni.life" class="home" title="lifeni.life">Lifeni</a>
            </div>
            <div class="part">
                <button class="more" id="more" title="查看菜单"></button>
                <div class="window" id="window">
                    <input type="checkbox" name="dark-mode" class="dark-checkbox" id="dark">
                    <label for="dark" class="dark" tabindex="0" title="启用/禁用暗色模式">
                        <span class="checkbox"></span>
                        暗色主题
                    </label>
                    <input type="checkbox" name="store-mode" class="store-checkbox" id="store">
                    <label for="store" class="store" tabindex="0" title="把此设置储存在浏览器中">
                        <span class="checkbox"></span>
                        启用储存
                    </label>
                    <a href="https://github.com/Lifeni/website/blob/master/README.md" class="readme">关于这个网站</a>
                </div>
            </div>
        </header>

        <div class="center">
            <main>
                {{INSERT-1}}
                <div class="empty hide" id="empty">
                    <h2>搜索无结果</h2>
                    <p>换个关键词试试？或者 <a href="/">返回主页</a></p>
                </div>
            </main>
            <aside>
                <div class="find">
                    <input class="search" id="search" type="search" placeholder="搜索" aria-label="搜索">
                    <div class="tags">
                        {{INSERT-2}}
                    </div>
                    <div class="bar"></div>
                </div>
                <div class="calendar" id="calendar">
                    <div class="months">
                        {{INSERT-3}}
                    </div>
                    <div class="bar"></div>
                </div>
                <div class="tool tool-hide" id="tool">
                    <div>
                        <button class="top" id="top" title="跳转到顶部">跳转到顶部</button>
                        <button class="bottom" id="bottom" title="跳转到底部">跳转到底部</button>
                    </div>
                </div>
            </aside>
        </div>
        <footer>
            <div class="part">
                <span>追求源于热爱。</span>
            </div>
            <div class="part">
                <a href="http://www.beian.miit.gov.cn/" class="icp" target="_blank" rel="noopener noreferrer">鲁ICP备19006085号</a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37132102371392" class="beian"
                    target="_blank" rel="noopener noreferrer">鲁公网安备 37132102371392号</a>
            </div>
        </footer>
        <script src="/static/javascript/index.js"></script>
        <script src="/static/javascript/home.js"></script>
    </body>

</html>