---
const links = [
  [
    {
      name: '由「又拍云」提供 CDN 加速与云储存服务',
      href: 'https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral',
    },
  ],
  [
    { name: '鲁ICP备19006085号', href: 'https://beian.miit.gov.cn' },
    {
      name: '鲁公网安备37132102371392号',
      href: 'http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37132102371392',
    },
  ],
]
---

<footer
  w="full"
  p="6 b-8 sm:b-6"
  flex="~ col md:row md:items-center gap-2 md:gap-4 md:justify-between"
>
  {
    links.map(group => (
      <section flex="~ col sm:row sm:items-center gap-2 sm:gap-4">
        {group.map(({ href, name }) => (
          <a
            {href}
            target="_blank"
            rel="nofollow noopener noreferrer"
            text="sm subtle hover:link truncate"
            underline="none hover:~ from-font hover:offset-4"
            transition="colors"
          >
            {name}
          </a>
        ))}
      </section>
    ))
  }
</footer>
