---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import Content from '@components/notebook/Content.astro'
import Notebook from '@components/notebook/Notebook.astro'
import Nav from '@components/notebook/header/Nav.astro'
import TableOfContents from '@components/notebook/header/TableOfContents.astro'
import { frontmatterFormat } from '@libs/utils'
import { getCollection, type CollectionEntry } from 'astro:content'

export async function getStaticPaths() {
  const articles = (await getCollection('文章')).filter(
    entry => import.meta.env.DEV || !entry.data.draft
  )
  const archives = (await getCollection('存档')).map(({ data, ...props }) => ({
    ...props,
    data: { ...data, ...frontmatterFormat(data) },
  }))
  return [...articles, ...archives].map(entry => ({
    params: { id: entry.data.id },
    props: { entry },
  }))
}

const { entry } = Astro.props as { entry: CollectionEntry<'文章'> }
const { Content: MarkdownContent, headings } = await entry.render()
---

<Notebook name={entry.data.name} description={entry.data.description}>
  <Header blur>
    <Nav slot="left" name="文章" />
    <TableOfContents slot="right" contents={headings} />
  </Header>
  <main
    id="~"
    flex="~ 1 col items-center"
    p="x-5 t-16 b-10"
    transition:animate="fade"
  >
    <Content frontmatter={entry.data}>
      <MarkdownContent />
    </Content>
  </main>
  <Footer />
</Notebook>
