---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import List from '@components/notebook/List.astro'
import Notebook from '@components/notebook/Notebook.astro'
import Drawer from '@components/notebook/header/Drawer.astro'
import Nav from '@components/notebook/header/Nav.astro'
import Divider from '@components/ui/Divider.astro'
import IconText from '@components/ui/IconText.astro'
import { frontmatterFormat } from '@libs/utils'
import { getCollection } from 'astro:content'

const archives = (await getCollection('存档'))
  .map(({ data, ...props }) => ({
    ...props,
    data: { ...data, ...frontmatterFormat(data) },
  }))
  .map(({ data }) => data)
  .filter(({ hide, draft }) => !hide && (import.meta.env.DEV || !draft))
  .sort((a, b) => b.date.created.getTime() - a.date.created.getTime())

const contents = [
  ...archives.filter(({ star }) => star),
  ...archives.filter(({ star }) => !star),
]
---

<Notebook name="存档">
  <Header blur>
    <Nav slot="left" name="文章" />
    <Drawer slot="right" />
  </Header>
  <main
    id="~"
    flex="~ 1 col items-center"
    p="x-5 t-16 b-10"
    transition:animate="fade"
  >
    <div flex="~ col items-center justify-center" w="full" max-w="xl" m="b-8">
      <section
        w="full"
        max-w="xl"
        m="b-3"
        flex="~ row items-center justify-between"
      >
        <IconText name="返回" icon="i-ri:arrow-go-back-line">
          <a
            href="/"
            w="fit"
            font="medium"
            text="xs secondary hover:link"
            underline="link"
            transition="colors"
          >
            返回
          </a>
        </IconText>
        <IconText name="统计" icon="i-ri:calendar-schedule-line">
          共计 {contents.length} 篇已存档文章
        </IconText>
      </section>
      <Divider />
    </div>

    <List type="archive" {contents} />
  </main>
  <Footer />
</Notebook>
