---
import Layout from '../../components/Layout.astro'
import Section from '../../components/base/Section.astro'

import Articles from '../../components/dashboard/Articles.astro'
import Archives from '../../components/dashboard/archives/Archives.astro'

export const prerender = true
---

<Layout title="文章" description="" index>
  <div w="full" flex="~ 1 col items-center justify-start gap-6" p="4">
    <Section name="文章">
      <Articles grid />
    </Section>
    <Section name="存档">
      <Archives />
    </Section>
  </div>
</Layout>
