---
import Layout from '../../components/Layout.astro'
import Section from '../../components/layout/Section.astro'

import Articles from '../../components/dashboard/lists/Articles.astro'
import Archives from '../../components/dashboard/archives/Archives.astro'
import Statistics from '../../components/dashboard/archives/Statistics.astro'

export const prerender = true
---

<Layout title="文章" description="" app="记录干杯">
  <div w="full" flex="~ 1 col items-center justify-start gap-6 sm:gap-8" p="4">
    <Section
      name="文章"
      icon="icon-tabler:book"
      action={{
        name: '文章存档',
        href: '#存档',
        icon: 'icon-tabler:archive',
      }}
    >
      <Articles mode="grid" />
    </Section>
    <Section
      name="存档"
      icon="icon-tabler:archive"
      action={{
        name: 'Wayback Machine',
        href: 'https://web.archive.org/web/*/lifeni.life',
        icon: 'icon-tabler:history',
      }}
    >
      <Statistics />
      <Archives />
    </Section>
  </div>
</Layout>
