{
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "**/*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "plugins": ["./node_modules/prettier-plugin-astro"]
}
