article {
  position: relative;
  width: 100%;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--font-primary);
  background-color: var(--background-0);
  transition: all 0.2s;

  @media (max-width: 864px) {
    transition: all 0.4s;
  }

  svg {
    fill: var(--font-primary);
  }

  p,
  address {
    margin: 0.5rem 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    transition: all 0.2s;
    line-break: auto;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  a {
    color: var(--font-link);
    margin: 0 1px;
    text-decoration: none;
    word-break: break-word;
    white-space: normal;
    transition: all 0.2s;

    &:hover,
    &:active,
    &:focus {
      color: var(--font-link-hover);
      text-decoration: underline from-font;
      text-underline-offset: 6px;
    }

    &.anchor.before {
      height: 100%;
      padding: 0 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none !important;

      @media (max-width: 480px) {
        padding: 0 10px;
      }

      @media (max-width: 420px) {
        padding: 0 6px;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  del {
    text-decoration: line-through;
  }

  em {
    font-style: italic;
  }

  hr {
    // margin: 2rem 0 0 0;
    display: none;
    visibility: hidden;
  }

  h1,
  h2,
  h3,
  h4 {
    color: inherit;
    font-weight: bold;
    transition: all 0.2s;

    code[class*="language-"] {
      font-size: 0.95em;
    }
  }

  h1 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    line-height: 2.75rem;
  }

  h2 {
    padding: 1.25rem 0;
    font-size: 1.5rem;
    line-height: 2.5rem;

    &:first-of-type {
      margin: 0.5rem 0 0 0;
    }
  }

  h3 {
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding: 0.5rem 0;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  ol,
  ul {
    margin: 12px 0 12px 1.5rem;
    color: inherit;
    font-size: inherit;
    line-height: inherit;

    li {
      margin: 0.4rem 0;
      padding: 0 0 0 0.25rem;
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      transition: all 0.2s;
    }
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    opacity: 1;
    margin: 24px 0;
    border-radius: 4px;
    display: block;
    color: var(--font-secondary);
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: right;
    transition: all 0.2s;

    &.medium-zoom-image {
      transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1) !important;
    }

    &:focus-visible {
      outline: solid 2px var(--font-link);
    }

    @media (max-width: 480px) {
      max-width: calc(100% + 24px);
      margin: 20px -12px;
    }
  }

  details {
    margin: 16px 0;

    summary {
      margin: 0 0 0 0.5rem;
      line-height: 2rem;
      cursor: pointer;
      outline: none;
    }
  }

  code,
  code[class*="language-"] {
    margin: 0 1px;
    padding: 0.15rem 0.4rem;
    border-radius: 4px;
    color: var(--font-code);
    background-color: var(--background-4);
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 0.975rem;
    font-family: var(--font-mono);
    transition: all 0.2s;
  }

  pre,
  pre[class*="language-"] {
    margin: 24px 0;
    padding: 1rem 0 1rem 2rem;
    color: var(--font-code);
    background-color: var(--background-4);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 0.975rem;
    line-height: 1.875rem;
    font-family: var(--font-mono);
    border-radius: 4px;
    transition: all 0.2s;
    overflow-x: auto;

    & + pre {
      margin-top: 1rem;
    }

    &::after {
      content: " ";
      position: relative;
      display: block;
      width: 4rem;
      min-width: 4rem;
      height: 100%;
      background-color: transparent;
    }

    @media (max-width: 480px) {
      margin: 20px 0;
    }

    code[class*="language-"] {
      margin: 0;
      padding: 0;
      border: none;
      white-space: unset;
      font-size: 0.975rem;
      line-height: 1.875rem;
    }
  }

  table {
    max-width: 100%;
    width: fit-content;
    margin: 1.25rem 0;
    padding: 0;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    color: inherit;
    transition: all 0.2s;

    code,
    code[class*="language-"] {
      word-break: keep-all;
      white-space: nowrap;
      transition: all 0.2s;
    }

    th,
    td {
      width: 100%;
      padding: 8px 16px;
      color: inherit;
      border: solid 2px var(--border-1);
      font-weight: normal;
      white-space: nowrap;
      border-radius: 4px;
      transition: all 0.2s;
    }

    th {
      font-weight: bold;
      background-color: var(--background-4);
    }
  }

  blockquote {
    position: relative;
    width: 100%;
    margin: 24px 0;
    padding: 4px 24px;
    color: var(--font-secondary);
    border-left: solid 8px var(--border-0);
    border-radius: 4px;
    transition: all 0.2s;

    @media (max-width: 480px) {
      width: calc(100% + 24px);
      margin: 20px -12px;

      img,
      .gatsby-highlight {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    a {
      color: var(--font-link-light);
    }

    p {
      margin: 0.5rem 0;
    }

    ul,
    ol {
      margin: 8px 0 8px 1.5rem;

      li {
        margin: 0;

        p {
          margin: 0.1rem 0;
        }
      }
    }

    code,
    code[class*="language-"],
    pre[class*="language-"] {
      color: inherit;
    }
  }

  .gatsby-highlight {
    position: relative;

    @media (max-width: 480px) {
      width: calc(100% + 24px);
      margin-left: -12px;
      margin-right: -12px;
    }

    & + h2 {
      margin-top: 1.5rem;
    }

    .token.comment {
      margin: 0;
    }

    pre[class*="language-"].line-numbers {
      padding-left: 3.2rem;
      border-radius: 4px;
      transition: background-color 0.2s;

      span.line-numbers-rows {
        width: 3.2rem !important;
        height: 100%;
        padding: 0 0 0 12px;
        border-right: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--font-light);
        background-color: var(--background-4);
        transition: all 0.2s;
      }

      .line-numbers-rows > span:before {
        color: var(--font-light);
      }
    }

    .code-copy-button {
      position: absolute;
      right: 16px;
      top: 16px;
      z-index: 1;
      width: 32px;
      height: 32px;
      padding: 8px;
      border-radius: 4px;
      border: none;
      background-color: var(--background-0);
      font-family: inherit;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: var(--font-secondary);
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--background-2);
      }
    }

    &:hover {
      .code-copy-button {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

section + p,
section + p + p {
  margin: 0.25rem 0;
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  font-family: inherit;
  transition: all 0.2s;
  line-break: auto;
  word-break: break-word;
  overflow-wrap: break-word;

  a {
    font-weight: inherit;
    color: var(--font-link-light);
    transition: color 0.2s, border 0.2s;
  }

  & + pre,
  & + blockquote,
  & + table {
    margin-top: 2.5rem;
  }
}

.article-meta {
  position: relative;
  z-index: 300;
  width: 100%;
  margin: 2px 0;
  padding: 4px 0;
  border-radius: 0;
  transition: all 0.2s;

  span {
    width: fit-content;
    font-size: inherit;
    line-height: inherit;
    margin: 0 0.75rem 0 0;
    color: inherit;
    font-weight: bold;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.2s;

    &.divider {
      font-family: var(--font-mono);
    }
  }
}

.article-subtitle {
  position: relative;
  margin: 0;
  padding: 0 0 0.25rem 0;
  font-size: 0.975rem;
  font-weight: bold;
  font-family: var(--font-mono);
  color: inherit;
  text-transform: uppercase;
  transition: all 0.2s;

  &::before {
    content: "// ";
  }
}

.article-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 1.5rem 0 0 0;
  font-size: 1rem;
  line-height: 2rem;
  transition: all 0.2s;

  p {
    margin: 0;

    &.tags {
      flex-wrap: wrap;
    }
  }
}

.article-license {
  width: fit-content;
  margin: 0 1.5rem 0 0;
  padding: 2px 0;
  display: flex;
  align-items: center;
  font-size: inherit;
  line-height: inherit;
  color: var(--font-secondary);
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.2s;

  svg {
    margin: 0 0.5rem 0 2px;
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--font-primary);
    text-decoration: none;
  }
}

span.emoji::after {
  content: " ";
  font-family: var(--font-mono);
}
