.toc {
  position: sticky;
  top: 3rem;
  max-height: calc(100vh - 6rem);
  padding: 0 1rem 0 0;
  font-weight: 700;
  color: var(--font-secondary);
  overflow-y: auto;

  li {
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    code[class*="language-"] {
      font-size: 0.925em;
      padding: 0.175em 0.375em;
      border-radius: 0.25rem;
      background-color: var(--element);
      white-space: nowrap;
    }
  }

  & > ul > li > p,
  & > ul > li > a {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--surface);
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--surface);
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--element);
  }

  ul {
    li p {
      padding: 0.25rem 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    ul ul {
      padding: 0 0 0 1.5rem;

      li {
        font-weight: 400;
        padding: 0.25rem 0;

        p {
          display: initial;
        }
      }
    }
  }
}
