.toc {
  padding: 2rem 0 0 0;
  font-weight: 700;
  color: var(--font-secondary);

  li {
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    code {
      font-size: 0.925em;
      // padding: 0.175em 0.375em;
      border-radius: 0.25rem;
      // background-color: var(--bg-2);
      white-space: nowrap;
    }
  }

  & > ul > li > p {
    display: none;
  }

  ul {
    li p {
      padding: 0.25rem 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    ul ul {
      padding: 0 0 0 1rem;

      li {
        font-weight: 400;
        padding: 0.25rem 0;

        p {
          display: initial;
        }
      }
    }
  }
}
