.window.index .toc {
    width: fit-content;
    width: -moz-fit-content;
    margin: 4px -8px;
}

.window.index li {
    width: fit-content;
    width: -moz-fit-content;
    margin: 8px 0;
    padding: 0 1rem 0 1.5rem;
    font-size: .875rem;
    list-style: none;
}

.window.index a {
    color: var(--color-font-primary);
    text-decoration: none;
    border: solid 1px transparent;
    white-space: nowrap;
}

.window.index a:hover,
.window.index a:active,
.window.index a:focus {
    border: solid 1px transparent;
    border-bottom: solid 1px;
}

main {
    position: relative;
    width: 100%;
    height: auto;
    margin: 12px 0;
    padding: 0 12px;
    transition: all .2s;
}

article {
    position: relative;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: 12px 24px;
    font-size: 1rem;
    color: var(--color-font-primary);
}

article .bread {
    width: 100%;
    display: inline-block;
    margin: 56px 0 4px 0;
    padding-left: 4px;
}

article .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.875rem;
    color: var(--color-font-secondary);
}

article .info hr {
    margin: 24px 0 16px 0;
}

article .info span {
    padding-left: 4px;
    line-height: 1.6rem;
}

article p {
    margin: 12px 2px;
    font-size: 1rem;
    line-height: 1.6rem;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-weight: normal;
}

article h1 {
    position: relative;
    margin: 0 0 64px 0;
    font-size: 2.8rem;
}

article h2 {
    margin: 48px 0 24px 0;
    font-size: 2rem;
    line-height: 3.5rem;
}

article h3::before {
    content: '# ';
    color: var(--color-border-highlight);
    transition: all .2s;
}

article h3 {
    margin: 24px 0 0 0;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

article h4 {
    margin: 16px 0;
    font-size: 1.3rem;
}

article h5 {
    margin: 12px 0;
    font-size: 1.2rem;
}

article h6 {
    margin: 12px 0;
    font-size: 1.1em;
}

article img {
    width: 100%;
    height: 50vh;
    margin: 24px 0;
    opacity: 0;
    display: block;
    color: var(--color-font-secondary);
    font-size: .875rem;
    line-height: 1rem;
    text-align: right;
    transition: all .2s;
}

article img[data-loaded="ok"] {
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 0;
    opacity: 1;
    box-shadow: var(--box-shadow-image);
}

article ol,
article ul {
    margin: 12px 0;
    margin-left: 1.5rem;
}

article li {
    margin: 8px 0;
    padding-left: 4px;
    line-height: 1.6rem;
}

article code {
    margin: 0 2px;
    padding: 2px 6px;
    background-color: var(--color-background-highlight);
    font-size: 0.875rem;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-weight: 500;
    word-break: break-all;
    transition: background-color .2s;
}

article h2 code,
article h3 code {
    font-size: .875em;
}

article pre {
    margin: 24px 2px;
    padding: 18px 24px;
    background-color: var(--color-background-highlight);
    line-height: 1.5rem;
    overflow-x: auto;
    transition: background-color .2s;
}

article pre code {
    margin: 0;
    padding: 0;
    border: none;
}

article kbd {
    margin: 0 2px;
    padding: 2px 6px;
    border: solid 1px var(--color-background-highlight);
    font-size: 0.875rem;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    line-height: 1.5rem;
}

article a {
    color: var(--color-font-link);
    text-decoration: none;
    border: solid 1px transparent;
    word-break: break-all;
}

article a:hover,
article a:active,
article a:focus {
    border: solid 1px transparent;
    border-bottom: solid 1px var(--color-font-link);
}

article strong {
    font-weight: bold;
}

article del {
    text-decoration: line-through;
}

article em {
    font-style: italic;
}

article blockquote {
    width: 100%;
    margin: 12px 0 12px 4px;
    padding: 0 16px;
    border-left: solid 4px var(--color-background-highlight);
    color: var(--color-font-secondary);
}

article hr {
    width: 100%;
    height: 1px;
    margin: 24px 0;
    padding: 0;
    border: none;
    background-color: var(--color-background-highlight);
    transition: all .2s;
}

article table {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
}

article table code {
    border: solid 1px var(--color-background-highlight);
    word-break: keep-all;
}

article th,
article td {
    width: 100%;
    padding: 12px 16px;
    border: solid 1px var(--color-background-highlight);
    white-space: nowrap;
    transition: all .2s;
}

article tr:nth-child(2n) {
    background-color: var(--color-background-highlight);
    transition: background-color .2s;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:640px) {
    article {
        padding: 12px;
    }
}
