header .button.index {
    display: none;
}

main {
    position: relative;
    width: 100%;
    height: auto;
    margin: 12px auto;
    padding: 0 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all .2s;
}

aside {
    position: relative;
    max-width: 320px;
    padding: 12px 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: all .2s;
}

aside .toc {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: var(--color-background-highlight);
    overflow-x: auto;
    overflow-y: hidden;
    transition: all .2s;
}

aside .toc li {
    list-style-type: none;
}

aside .toc ul>li {
    margin: .5rem 0;
}

aside .toc ul>li li {
    margin: .5rem 1.5rem;
}

aside .toc a {
    margin-right: 1.5rem;
    color: var(--color-font-link);
    text-decoration: none;
    border: solid 1px transparent;
    white-space: nowrap;
    transition: all .2s;
}

aside .toc a:hover,
aside .toc a:active,
aside .toc a:focus {
    border: solid 1px transparent;
    border-bottom: solid 1px var(--color-font-link);
}

aside .info {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    color: var(--color-font-secondary);
}

aside .info .text {
    height: 36px;
    margin-bottom: 8px;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    background-color: var(--color-background-highlight);
    white-space: nowrap;
    transition: all .2s;
}

article {
    position: relative;
    width: 100%;
    max-width: 760px;
    padding: 12px 24px;
    font-size: 1rem;
    color: var(--color-font-primary);
    overflow: hidden;
    transition: all .2s;
}

article p {
    font-size: 1rem;
    line-height: 2rem;
    color: var(--color-font-primary);
    transition: all .2s;
}

article a {
    color: var(--color-font-link);
    text-decoration: none;
    border: solid 1px transparent;
    word-break: break-all;
    transition: all .2s;
}

article a:hover,
article a:active,
article a:focus {
    border: solid 1px transparent;
    border-bottom: solid 1px var(--color-font-link);
}

article strong {
    font-weight: bold;
}

article del {
    text-decoration: line-through;
}

article em {
    font-style: italic;
}

article h1,
article h2,
article h3 {
    color: var(--color-font-primary);
    font-weight: normal;
    transition: all .2s;
}

article h1 {
    position: relative;
    padding: 2.5rem 0 5.5rem 0;
    font-size: 2.5rem;
}

article h2 {
    padding: 1.5rem 0;
    font-size: 1.8rem;
}

article h3::before {
    content: '# ';
    color: var(--color-border-highlight);
    transition: all .2s;
}

article h3 {
    padding: 1rem 0;
    font-size: 1.4rem;
}

article h2+h3 {
    padding: 0 0 1rem 0;
}

article ol,
article ul {
    margin-left: 1.5rem;
}

article li {
    color: var(--color-font-primary);
    font-size: 1rem;
    line-height: 2rem;
    transition: all .2s;
}

article img {
    width: 100%;
    height: 50vh;
    margin: .5rem 0;
    opacity: 0;
    display: block;
    color: var(--color-font-secondary);
    font-size: .875rem;
    line-height: 1rem;
    text-align: right;
    transition: all .2s;
}

article img[data-loaded="ok"] {
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 0;
    opacity: 1;
}

article code {
    margin: 0 2px;
    padding: 2px 6px;
    color: var(--color-font-primary);
    background-color: var(--color-background-highlight);
    font-size: 1rem;
    font-family: var(--font-family-monospace);
    word-break: break-all;
    transition: all .2s;
}

article h2 code,
article h3 code {
    font-size: .875em;
}

article pre {
    margin: .75rem 0;
    padding: 1rem 1.5rem;
    background-color: var(--color-background-highlight);
    line-height: 1.5rem;
    overflow-x: auto;
    transition: all .2s;
}

article pre+pre {
    margin-top: 1rem;
}

article pre code {
    margin: 0;
    padding: 0;
    border: none;
}

article blockquote {
    width: 100%;
    margin: 16px 0;
    padding: 0 24px;
    border-left: solid 6px var(--color-background-highlight);
}

article blockquote p,
article blockquote code {
    color: var(--color-font-secondary);
}

article blockquote p {
    margin: 1rem 0;
}

article table {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
}

article table code {
    border: solid 2px var(--color-border-highlight);
    word-break: keep-all;
}

article th,
article td {
    width: 100%;
    padding: 12px 16px;
    border: solid 3px var(--color-border-highlight);
    white-space: nowrap;
    transition: all .2s;
}

article tr:nth-child(2n) {
    background-color: var(--color-background-highlight);
    transition: background-color .2s;
}

@media screen and (max-width:800px) {
    header .button.index {
        display: inline-block;
        background-image: var(--icon-down);
    }

    header .button.index.show {
        box-shadow: none;
        background-color: transparent;
        background-image: var(--icon-up);
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    article {
        padding: 12px;
    }

    article h1 {
        margin: 1rem 0 4rem 0;
        padding: 0;
    }

    aside {
        width: 100%;
        max-width: 760px;
        height: 0;
        margin: 0;
        opacity: 0;
        padding: 0 12px;
        overflow: hidden;
    }

    aside.show {
        opacity: 1;
        padding: 64px 12px 36px 12px;
        height: auto;
    }

    aside .area.info {
        margin: 0;
    }
}


/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5rem;
    color: #383a42;
    background: #fafafa;
}

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}