:root {
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    --color-theme-docker: #2496ed;
    --color-theme-html: #ef6429;
    --color-theme-git: #f54d27;
    --color-theme-java: #e55844;
    --color-theme-javascript: #ffd600;
    --color-theme-linux: #185886;
    --color-theme-node: #689f63;
    --color-theme-vue: #35495e;
    --color-theme-web: #4caf50;
    --color-theme-windows: #0078d7;
    --color-theme-翻译: #e00012;
    --color-theme-算法: #009c73;
    --color-theme-reset: #dd2c00;
    --color-theme-check: #4caf50;

    --font-family-normal: 'Roboto', 'Noto Sans SC', '思源黑体 CN', sans-serif;
    --font-family-monospace: 'Consolas', Courier, monospace, 'Noto Sans SC',
        '思源黑体 CN', sans-serif;

    --color-font-primary: #000000;
    --color-font-secondary: #6b6b6b;
    --color-font-link: #3f51b5;
    --color-font-reverse: #ffffff;

    --color-background: #f4f4f4;
    --color-background-highlight: #ececec;
    --color-background-reverse: #000000;
    --color-background-layer: #ffffff;
    --color-background-layer-highlight: #f4f4f4;
    --color-background-layer-highlight-plus: #ececec;

    --color-mask: rgba(238, 238, 238, 0.5);

    --color-border: #f4f4f4;
    --color-border-highlight: #e0e0e0;
    --color-border-reverse: #000000;

    --color-hover: rgba(0, 0, 0, 0.1);
    --color-hover-blur: rgba(0, 0, 0, 0.05);
    --color-active-focus: #000000;

    --box-shadow-image: 0 2px 8px -4px #cccccc;
    --box-shadow-button: 0 0 4px -1px #cccccc;
    --box-shadow-window: 0 2px 6px -2px #cccccc;
}

html[data-theme='light'] {
    --color-font-primary: #000000;
    --color-font-secondary: #6b6b6b;
    --color-font-link: #3f51b5;
    --color-font-reverse: #ffffff;

    --color-background: #f4f4f4;
    --color-background-highlight: #ececec;
    --color-background-reverse: #000000;
    --color-background-layer: #ffffff;
    --color-background-layer-highlight: #f4f4f4;
    --color-background-layer-highlight-plus: #ececec;

    --color-mask: rgba(238, 238, 238, 0.5);

    --color-border: #f4f4f4;
    --color-border-highlight: #e0e0e0;
    --color-border-reverse: #000000;

    --color-hover: rgba(0, 0, 0, 0.1);
    --color-hover-blur: rgba(0, 0, 0, 0.05);
    --color-active-focus: #000000;

    --box-shadow-image: 0 2px 8px -4px #cccccc;
    --box-shadow-button: 0 0 4px -1px #cccccc;
    --box-shadow-window: 0 2px 6px -2px #cccccc;

    --icon-setting: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M27 16.76V16v-.77l1.92-1.68A2 2 0 0 0 29.3 11l-2.36-4a2 2 0 0 0-1.73-1 2 2 0 0 0-.64.1l-2.43.82a11.35 11.35 0 0 0-1.31-.75l-.51-2.52a2 2 0 0 0-2-1.61h-4.68a2 2 0 0 0-2 1.61l-.51 2.52a11.48 11.48 0 0 0-1.32.75l-2.38-.86A2 2 0 0 0 6.79 6a2 2 0 0 0-1.73 1L2.7 11a2 2 0 0 0 .41 2.51L5 15.24v1.53l-1.89 1.68A2 2 0 0 0 2.7 21l2.36 4a2 2 0 0 0 1.73 1 2 2 0 0 0 .64-.1l2.43-.82a11.35 11.35 0 0 0 1.31.75l.51 2.52a2 2 0 0 0 2 1.61h4.72a2 2 0 0 0 2-1.61l.51-2.52a11.48 11.48 0 0 0 1.32-.75l2.42.82a2 2 0 0 0 .64.1 2 2 0 0 0 1.73-1l2.28-4a2 2 0 0 0-.41-2.51zM25.21 24l-3.43-1.16a8.86 8.86 0 0 1-2.71 1.57L18.36 28h-4.72l-.71-3.55a9.36 9.36 0 0 1-2.7-1.57L6.79 24l-2.36-4 2.72-2.4a8.9 8.9 0 0 1 0-3.13L4.43 12l2.36-4 3.43 1.16a8.86 8.86 0 0 1 2.71-1.57L13.64 4h4.72l.71 3.55a9.36 9.36 0 0 1 2.7 1.57L25.21 8l2.36 4-2.72 2.4a8.9 8.9 0 0 1 0 3.13L27.57 20z'/%3E%3Cpath d='M16 22a6 6 0 1 1 6-6 5.94 5.94 0 0 1-6 6zm0-10a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4z'/%3E%3C/svg%3E");
    --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4l6.6 6.6L8 22.6 9.4 24l6.6-6.6 6.6 6.6 1.4-1.4-6.6-6.6L24 9.4z'/%3E%3C/svg%3E");
    --icon-exlink: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M10 6v2h12.59L6 24.59 7.41 26 24 9.41V22h2V6H10z'/%3E%3C/svg%3E");
    --icon-exlink-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%233f51b5' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M10 6v2h12.59L6 24.59 7.41 26 24 9.41V22h2V6H10z'/%3E%3C/svg%3E");
    --icon-project: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 18H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2zM6 6v10h10V6zM26 12v4h-4v-4h4m0-2h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2zM26 22v4h-4v-4h4m0-2h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2zM16 22v4h-4v-4h4m0-2h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2z'/%3E%3C/svg%3E");
    --icon-demo-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%233f51b5' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M15 10h2v8h-2zM20 14h2v4h-2zM10 12h2v6h-2z'/%3E%3Cpath d='M25 4h-8V2h-2v2H7a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8v6h-4v2h10v-2h-4v-6h8a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 16H7V6h18z'/%3E%3C/svg%3E");
    --icon-code-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%233f51b5' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M31 16l-7 7-1.41-1.41L28.17 16l-5.58-5.59L24 9l7 7zM1 16l7-7 1.41 1.41L3.83 16l5.58 5.59L8 23l-7-7zM12.42 25.484L17.64 6l1.932.517-5.22 19.483z'/%3E%3C/svg%3E");
    --icon-more: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M22 16L12 26l-1.4-1.4 8.6-8.6-8.6-8.6L12 6z'/%3E%3C/svg%3E");
    --icon-article: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M26 2H8a2 2 0 0 0-2 2v4H4v2h2v5H4v2h2v5H4v2h2v4a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm0 26H8v-4h2v-2H8v-5h2v-2H8v-5h2V8H8V4h18z'/%3E%3Cpath d='M14 8h8v2h-8zM14 15h8v2h-8zM14 22h8v2h-8z'/%3E%3C/svg%3E");
    --icon-next: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M18 6l-1.4 1.4 7.5 7.6H3v2h21.1l-7.5 7.6L18 26l10-10z'/%3E%3C/svg%3E");
    --icon-view: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M30.94 15.66A16.69 16.69 0 0 0 16 5 16.69 16.69 0 0 0 1.06 15.66a1 1 0 0 0 0 .68A16.69 16.69 0 0 0 16 27a16.69 16.69 0 0 0 14.94-10.66 1 1 0 0 0 0-.68zM16 25c-5.3 0-10.9-3.93-12.93-9C5.1 10.93 10.7 7 16 7s10.9 3.93 12.93 9C26.9 21.07 21.3 25 16 25z'/%3E%3Cpath d='M16 10a6 6 0 1 0 6 6 6 6 0 0 0-6-6zm0 10a4 4 0 1 1 4-4 4 4 0 0 1-4 4z'/%3E%3C/svg%3E");
    --icon-find: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M12 21H4V4h18v8h2V4a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h8z'/%3E%3Cpath d='M30 28.58l-3.11-3.11a6 6 0 1 0-1.42 1.42L28.58 30zM22 26a4 4 0 1 1 4-4 4 4 0 0 1-4 4z'/%3E%3C/svg%3E");
    --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M30 28.59L22.45 21A11 11 0 1 0 21 22.45L28.59 30zM5 14a9 9 0 1 1 9 9 9 9 0 0 1-9-9z'/%3E%3C/svg%3E");
    --icon-calendar: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M26 4h-4V2h-2v2h-8V2h-2v2H6c-1.1 0-2 .9-2 2v20c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 22H6V12h20v14zm0-16H6V6h4v2h2V6h8v2h2V6h4v4z'/%3E%3C/svg%3E");
    --icon-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 14L6 24l1.4 1.4 8.6-8.6 8.6 8.6L26 24zM4 8h24v2H4z'/%3E%3C/svg%3E");
    --icon-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 18L6 8l1.4-1.4 8.6 8.6 8.6-8.6L26 8zM4 22h24v2H4z'/%3E%3C/svg%3E");
    --icon-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 10l10 10-1.4 1.4-8.6-8.6-8.6 8.6L6 20z'/%3E%3C/svg%3E");
    --icon-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 22L6 12l1.4-1.4 8.6 8.6 8.6-8.6L26 12z'/%3E%3C/svg%3E");
    --icon-lab-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%233f51b5' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M27.231 23.618L20 13.675V4h2V2H10v2h2v9.675l-7.231 9.943A4.018 4.018 0 0 0 8.019 30H23.98a4.018 4.018 0 0 0 3.25-6.382zM14 14.325V4h4v10.325L20.673 18h-9.346zM23.981 28H8.02a2.02 2.02 0 0 1-1.633-3.206L9.873 20h12.254l3.487 4.794A2.02 2.02 0 0 1 23.981 28z'/%3E%3C/svg%3E");
    --icon-dev-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%233f51b5' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M26 24.005H6a2.002 2.002 0 0 1-2-2v-14a2.002 2.002 0 0 1 2-2h20a2.002 2.002 0 0 1 2 2v14a2.003 2.003 0 0 1-2 2zm-20-16v14h20v-14zM2 26.005h28v2H2z'/%3E%3C/svg%3E");
    --icon-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true'%3E%3Cpath d='M29.25 6.76a6 6 0 0 0-8.5 0l1.42 1.42a4 4 0 1 1 5.67 5.67l-8 8a4 4 0 1 1-5.67-5.66l1.41-1.42-1.41-1.42-1.42 1.42a6 6 0 0 0 0 8.5A6 6 0 0 0 17 25a6 6 0 0 0 4.27-1.76l8-8a6 6 0 0 0-.02-8.48z'/%3E%3Cpath d='M4.19 24.82a4 4 0 0 1 0-5.67l8-8a4 4 0 0 1 5.67 0A3.94 3.94 0 0 1 19 14a4 4 0 0 1-1.17 2.85L15.71 19l1.42 1.42 2.12-2.12a6 6 0 0 0-8.51-8.51l-8 8a6 6 0 0 0 0 8.51A6 6 0 0 0 7 28a6.07 6.07 0 0 0 4.28-1.76l-1.42-1.42a4 4 0 0 1-5.67 0z'/%3E%3C/svg%3E");
}

html[data-theme='dark'] {
    --color-font-primary: #c6c6c6;
    --color-font-secondary: #8d8d8d;
    --color-font-link: #2196f3;
    --color-font-reverse: #000000;

    --color-background: #000000;
    --color-background-highlight: #121212;
    --color-background-layer: #0b0b0b;
    --color-background-layer-highlight: #121212;
    --color-background-layer-highlight-plus: #181818;

    --color-mask: rgba(0, 0, 0, 0.5);

    --color-border: #121212;
    --color-border-highlight: #242424;
    --color-border-reverse: #c6c6c6;

    --color-hover: rgba(255, 255, 255, 0.1);
    --color-hover-blur: rgba(255, 255, 255, 0.02);
    --color-active-focus: #ffffff;

    --box-shadow-image: 0 2px 8px -4px #000000;
    --box-shadow-button: 0 0 4px -1px #000000;
    --box-shadow-window: 0 2px 6px -2px #000000;

    --icon-setting: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M27 16.76V16v-.77l1.92-1.68A2 2 0 0 0 29.3 11l-2.36-4a2 2 0 0 0-1.73-1 2 2 0 0 0-.64.1l-2.43.82a11.35 11.35 0 0 0-1.31-.75l-.51-2.52a2 2 0 0 0-2-1.61h-4.68a2 2 0 0 0-2 1.61l-.51 2.52a11.48 11.48 0 0 0-1.32.75l-2.38-.86A2 2 0 0 0 6.79 6a2 2 0 0 0-1.73 1L2.7 11a2 2 0 0 0 .41 2.51L5 15.24v1.53l-1.89 1.68A2 2 0 0 0 2.7 21l2.36 4a2 2 0 0 0 1.73 1 2 2 0 0 0 .64-.1l2.43-.82a11.35 11.35 0 0 0 1.31.75l.51 2.52a2 2 0 0 0 2 1.61h4.72a2 2 0 0 0 2-1.61l.51-2.52a11.48 11.48 0 0 0 1.32-.75l2.42.82a2 2 0 0 0 .64.1 2 2 0 0 0 1.73-1l2.28-4a2 2 0 0 0-.41-2.51zM25.21 24l-3.43-1.16a8.86 8.86 0 0 1-2.71 1.57L18.36 28h-4.72l-.71-3.55a9.36 9.36 0 0 1-2.7-1.57L6.79 24l-2.36-4 2.72-2.4a8.9 8.9 0 0 1 0-3.13L4.43 12l2.36-4 3.43 1.16a8.86 8.86 0 0 1 2.71-1.57L13.64 4h4.72l.71 3.55a9.36 9.36 0 0 1 2.7 1.57L25.21 8l2.36 4-2.72 2.4a8.9 8.9 0 0 1 0 3.13L27.57 20z'/%3E%3Cpath d='M16 22a6 6 0 1 1 6-6 5.94 5.94 0 0 1-6 6zm0-10a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4z'/%3E%3C/svg%3E");
    --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4l6.6 6.6L8 22.6 9.4 24l6.6-6.6 6.6 6.6 1.4-1.4-6.6-6.6L24 9.4z'/%3E%3C/svg%3E");
    --icon-exlink: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M10 6v2h12.59L6 24.59 7.41 26 24 9.41V22h2V6H10z'/%3E%3C/svg%3E");
    --icon-exlink-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%232196f3' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M10 6v2h12.59L6 24.59 7.41 26 24 9.41V22h2V6H10z'/%3E%3C/svg%3E");
    --icon-project: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 18H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2zM6 6v10h10V6zM26 12v4h-4v-4h4m0-2h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2zM26 22v4h-4v-4h4m0-2h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2zM16 22v4h-4v-4h4m0-2h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2z'/%3E%3C/svg%3E");
    --icon-demo-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%232196f3' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M15 10h2v8h-2zM20 14h2v4h-2zM10 12h2v6h-2z'/%3E%3Cpath d='M25 4h-8V2h-2v2H7a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8v6h-4v2h10v-2h-4v-6h8a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 16H7V6h18z'/%3E%3C/svg%3E");
    --icon-code-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%232196f3' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M31 16l-7 7-1.41-1.41L28.17 16l-5.58-5.59L24 9l7 7zM1 16l7-7 1.41 1.41L3.83 16l5.58 5.59L8 23l-7-7zM12.42 25.484L17.64 6l1.932.517-5.22 19.483z'/%3E%3C/svg%3E");
    --icon-more: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M22 16L12 26l-1.4-1.4 8.6-8.6-8.6-8.6L12 6z'/%3E%3C/svg%3E");
    --icon-article: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M26 2H8a2 2 0 0 0-2 2v4H4v2h2v5H4v2h2v5H4v2h2v4a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm0 26H8v-4h2v-2H8v-5h2v-2H8v-5h2V8H8V4h18z'/%3E%3Cpath d='M14 8h8v2h-8zM14 15h8v2h-8zM14 22h8v2h-8z'/%3E%3C/svg%3E");
    --icon-next: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M18 6l-1.4 1.4 7.5 7.6H3v2h21.1l-7.5 7.6L18 26l10-10z'/%3E%3C/svg%3E");
    --icon-view: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M30.94 15.66A16.69 16.69 0 0 0 16 5 16.69 16.69 0 0 0 1.06 15.66a1 1 0 0 0 0 .68A16.69 16.69 0 0 0 16 27a16.69 16.69 0 0 0 14.94-10.66 1 1 0 0 0 0-.68zM16 25c-5.3 0-10.9-3.93-12.93-9C5.1 10.93 10.7 7 16 7s10.9 3.93 12.93 9C26.9 21.07 21.3 25 16 25z'/%3E%3Cpath d='M16 10a6 6 0 1 0 6 6 6 6 0 0 0-6-6zm0 10a4 4 0 1 1 4-4 4 4 0 0 1-4 4z'/%3E%3C/svg%3E");
    --icon-find: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M12 21H4V4h18v8h2V4a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v17a2 2 0 0 0 2 2h8z'/%3E%3Cpath d='M30 28.58l-3.11-3.11a6 6 0 1 0-1.42 1.42L28.58 30zM22 26a4 4 0 1 1 4-4 4 4 0 0 1-4 4z'/%3E%3C/svg%3E");
    --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M30 28.59L22.45 21A11 11 0 1 0 21 22.45L28.59 30zM5 14a9 9 0 1 1 9 9 9 9 0 0 1-9-9z'/%3E%3C/svg%3E");
    --icon-calendar: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'  fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M26 4h-4V2h-2v2h-8V2h-2v2H6c-1.1 0-2 .9-2 2v20c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 22H6V12h20v14zm0-16H6V6h4v2h2V6h8v2h2V6h4v4z'/%3E%3C/svg%3E");
    --icon-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 14L6 24l1.4 1.4 8.6-8.6 8.6 8.6L26 24zM4 8h24v2H4z'/%3E%3C/svg%3E");
    --icon-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 18L6 8l1.4-1.4 8.6 8.6 8.6-8.6L26 8zM4 22h24v2H4z'/%3E%3C/svg%3E");
    --icon-up: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 10l10 10-1.4 1.4-8.6-8.6-8.6 8.6L6 20z'/%3E%3C/svg%3E");
    --icon-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M16 22L6 12l1.4-1.4 8.6 8.6 8.6-8.6L26 12z'/%3E%3C/svg%3E");
    --icon-lab-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%232196f3' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M27.231 23.618L20 13.675V4h2V2H10v2h2v9.675l-7.231 9.943A4.018 4.018 0 0 0 8.019 30H23.98a4.018 4.018 0 0 0 3.25-6.382zM14 14.325V4h4v10.325L20.673 18h-9.346zM23.981 28H8.02a2.02 2.02 0 0 1-1.633-3.206L9.873 20h12.254l3.487 4.794A2.02 2.02 0 0 1 23.981 28z'/%3E%3C/svg%3E");
    --icon-dev-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%232196f3' aria-hidden='true' style='will-change:transform'%3E%3Cpath d='M26 24.005H6a2.002 2.002 0 0 1-2-2v-14a2.002 2.002 0 0 1 2-2h20a2.002 2.002 0 0 1 2 2v14a2.003 2.003 0 0 1-2 2zm-20-16v14h20v-14zM2 26.005h28v2H2z'/%3E%3C/svg%3E");
    --icon-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='%23C6C6C6' aria-hidden='true'%3E%3Cpath d='M29.25 6.76a6 6 0 0 0-8.5 0l1.42 1.42a4 4 0 1 1 5.67 5.67l-8 8a4 4 0 1 1-5.67-5.66l1.41-1.42-1.41-1.42-1.42 1.42a6 6 0 0 0 0 8.5A6 6 0 0 0 17 25a6 6 0 0 0 4.27-1.76l8-8a6 6 0 0 0-.02-8.48z'/%3E%3Cpath d='M4.19 24.82a4 4 0 0 1 0-5.67l8-8a4 4 0 0 1 5.67 0A3.94 3.94 0 0 1 19 14a4 4 0 0 1-1.17 2.85L15.71 19l1.42 1.42 2.12-2.12a6 6 0 0 0-8.51-8.51l-8 8a6 6 0 0 0 0 8.51A6 6 0 0 0 7 28a6.07 6.07 0 0 0 4.28-1.76l-1.42-1.42a4 4 0 0 1-5.67 0z'/%3E%3C/svg%3E");
}

.color[data-keyword='docker'] {
    background-color: var(--color-theme-docker);
}

.color[data-keyword='git'] {
    background-color: var(--color-theme-git);
}

.color[data-keyword='java'] {
    background-color: var(--color-theme-java);
}

.color[data-keyword='javascript'] {
    background-color: var(--color-theme-javascript);
}

.color[data-keyword='linux'] {
    background-color: var(--color-theme-linux);
}

.color[data-keyword='node'] {
    background-color: var(--color-theme-node);
}

.color[data-keyword='web'] {
    background-color: var(--color-theme-web);
}

.color[data-keyword='windows'] {
    background-color: var(--color-theme-windows);
}

.color[data-keyword='翻译'] {
    background-color: var(--color-theme-翻译);
}

.color[data-keyword='算法'] {
    background-color: var(--color-theme-算法);
}

html {
    overflow-y: scroll;
}

body {
    font-size: 1rem;
    font-family: var(--font-family-normal);
    background-color: var(--color-background);
    transition: all 0.2s;
}

a,
button {
    border: solid 2px transparent;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: all 0.2s;
}

a:active,
a:focus,
button:active,
button:focus {
    border: solid 2px var(--color-active-focus);
}

.top-bar,
.bottom-bar {
    position: relative;
    width: 100vw;
    height: 12px;
    background-color: var(--color-background-highlight);
    transition: all 0.2s;
}

header {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 72px;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-font-primary);
    font-size: 1.25rem;
    transition: all 0.2s;
}

header .area {
    position: relative;
    display: flex;
}

header .text {
    padding: 4px 12px;
}

header .link.name {
    padding: 4px 12px;
    color: var(--color-font-primary);
    transition: all 0.2s;
}

header .button {
    position: relative;
    z-index: 5;
    width: 48px;
    height: 48px;
    color: transparent;
    background-color: transparent;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

header .button:hover {
    background-color: var(--color-hover);
}

header .button.setting {
    background-image: var(--icon-setting);
}

header .button.show {
    z-index: 12;
    border-color: transparent;
    box-shadow: var(--box-shadow-button);
    box-shadow: var(--box-shadow-window);
    background-color: var(--color-background-layer);
    background-image: var(--icon-close);
}

header .window {
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 10;
    width: fit-content;
    width: -moz-fit-content;
    max-width: calc(100vw - 84px);
    height: auto;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--color-font-primary);
    background-color: var(--color-background-layer);
    box-shadow: var(--box-shadow-window);
    overflow-x: auto;
    overflow-y: hidden;
    pointer-events: none;
    transition: all 0.2s;
}

header .window.show {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
}

header .window .title {
    position: absolute;
    left: 0;
    top: 0;
    height: 72px;
    margin-bottom: 14px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: normal;
    color: var(--color-font-primary);
    transition: all 0.2s;
}

header .window .area {
    position: relative;
    width: 100%;
    height: 72px;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

header .window .label {
    position: relative;
    width: 72px;
    height: 72px;
    margin-right: 12px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: all 0.2s;
}

header .window .label .radio {
    display: none;
}

header .window .label.auto {
    color: #000000;
    background-color: #ffea3b;
}

header .window .label.light {
    color: #000000;
    background-color: #ececec;
}

header .window .label.dark {
    color: #c6c6c6;
    background-color: #35363a;
}

header .window .label:last-child {
    margin: 0;
}

header .window .label .text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 0.875rem;
    white-space: nowrap;
    text-align: center;
}

header .radio:checked ~ .text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 68px;
    height: 68px;
    max-width: calc(100% - 4px);
    border: solid 2px var(--color-border-reverse);
    background-color: transparent;
    transition: all 0.2s;
    animation: opacity 0.2s;
}

header .window .link {
    position: relative;
    width: 100%;
    min-width: 120px;
    height: 48px;
    padding: 8px 12px;
    border: solid 2px transparent;
    display: flex;
    align-items: center;
    outline: none;
    white-space: nowrap;
    color: var(--color-font-link);
    background-color: var(--color-background-layer-highlight);
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: all 0.2s;
}

header .window .link::before {
    content: '';
    width: 1rem;
    height: 1rem;
    margin: 2px 8px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-image: var(--icon-exlink-link);
    transition: all 0.2s;
}

header .window .link:hover {
    background-color: var(--color-hover);
}

header .window .link:active,
header .window .link:focus {
    border: solid 2px var(--color-active-focus);
    background-color: var(--color-hover);
}

header .window .description {
    margin: 16px 0;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-font-secondary);
    transition: all 0.2s;
}

header .window .description:last-child {
    margin: 16px 0 0 0;
}

footer {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 72px;
    padding: 16px 12px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
}

footer .area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

footer .text,
footer .link {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font-secondary);
    font-size: 0.875rem;
    text-decoration: none;
    transition: all 0.2s;
}

footer .text {
    border: solid 2px transparent;
}

footer .link:hover,
footer .link:focus,
footer .link:active {
    color: var(--color-font-primary);
}

footer .link.beian::before {
    content: '';
    width: 16px;
    height: 16px;
    margin: 4px 4px 4px 0;
    display: inline-block;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/image/备案图标.png');
}

@media (prefers-color-scheme: light) {
    html {
        --color-font-primary: #000000;
        --color-font-secondary: #6b6b6b;
        --color-font-link: #3f51b5;
        --color-font-reverse: #ffffff;

        --color-background: #f4f4f4;
        --color-background-highlight: #ececec;
        --color-background-reverse: #000000;
        --color-background-layer: #ffffff;
        --color-background-layer-highlight: #f4f4f4;
        --color-background-layer-highlight-plus: #ececec;

        --color-mask: rgba(238, 238, 238, 0.5);

        --color-border: #f4f4f4;
        --color-border-highlight: #e0e0e0;
        --color-border-reverse: #000000;

        --color-hover: rgba(0, 0, 0, 0.1);
        --color-hover-blur: rgba(0, 0, 0, 0.05);
        --color-active-focus: #000000;

        --box-shadow-image: 0 2px 8px -4px #cccccc;
        --box-shadow-button: 0 0 4px -1px #cccccc;
        --box-shadow-window: 0 2px 6px -2px #cccccc;
    }

    header .window .label.auto {
        color: #000000;
        background-color: #f4f4f4;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --color-font-primary: #c6c6c6;
        --color-font-secondary: #8d8d8d;
        --color-font-link: #2196f3;
        --color-font-reverse: #000000;

        --color-background: #000000;
        --color-background-highlight: #121212;
        --color-background-layer: #0b0b0b;
        --color-background-layer-highlight: #121212;
        --color-background-layer-highlight-plus: #181818;

        --color-mask: rgba(0, 0, 0, 0.5);

        --color-border: #121212;
        --color-border-highlight: #242424;
        --color-border-reverse: #c6c6c6;

        --color-hover: rgba(255, 255, 255, 0.1);
        --color-hover-blur: rgba(255, 255, 255, 0.02);
        --color-active-focus: #ffffff;

        --box-shadow-image: 0 2px 8px -4px #000000;
        --box-shadow-button: 0 0 4px -1px #000000;
        --box-shadow-window: 0 2px 6px -2px #000000;
    }

    header .window .label.auto {
        color: #c6c6c6;
        background-color: #35363a;
    }
}
