section {
    position: relative;
    width: 100%;
    max-width: 852px;
    height: 33vh;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

section canvas {
    width: 100%;
    height: 100%;
}

section .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--color-font-secondary);
    transition: all .2s;
}

section .text.percent {
    padding-bottom: 2px;
    border-bottom: dashed 2px var(--color-border-highlight);
    cursor: help;
    transition: all .2s;
}

section .text.percent:hover {
    border-bottom-color: var(--color-font-secondary);
}

.container {
    position: relative;
    min-height: calc(100vh - 144px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main {
    position: relative;
    width: 100%;
    max-width: 560px;
    height: auto;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s;
}

.card {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    box-shadow: var(--box-shadow-card);
    background-color: var(--color-background-layer);
    transition: all .2s;
}

.card .bar {
    width: 100%;
    height: 24px;
    margin-top: 24px;
    background-size: 24px;
    background-position: right;
    background-repeat: no-repeat;
}

.card.article a {
    width: 100%;
    margin-top: -4px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
}

.card.article .title {
    margin: 12px 0 4px 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--color-font-primary);
    transition: all .2s;
}

.card.article .description {
    margin: 0 1px;
    color: var(--color-font-secondary);
    font-size: 1rem;
    line-height: 1.75rem;
    transition: all .2s;
}

.card.article .info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--color-font-secondary);
}

.card.article .info .point {
    position: absolute;
    left: 36px;
    top: 30px;
    width: 20px;
    height: 20px;
    border-radius: 36px;
    overflow: hidden;
}

.card.article .info .text {
    height: 36px;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    background-color: var(--color-background-layer-highlight);
    white-space: nowrap;
    transition: all .2s;
}

.card.article .info .keyword {
    padding-left: 36px;
}

.card.article .info .date {
    margin-left: 8px;
}

.card.article .bar {
    background-image: var(--icon-next);
}

.card.article:hover .bar {
    background-image: var(--icon-view);
}

.card.empty {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-font-primary);
}

.card.empty h2 {
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: normal;
}

.card.empty p {
    margin-bottom: 12px;
    font-size: 1rem;
}

.card.empty a {
    font-size: 1rem;
    color: var(--color-font-link);
    text-decoration: none;
    border: solid 1px transparent;
    word-break: break-all;
}

.card.empty a:hover,
.card.empty a:active,
.card.empty a:focus {
    border: solid 1px transparent;
    border-bottom: solid 1px;
}

.card.article.hide,
.card.empty.hide,
.card.tool.hide {
    display: none;
}

aside {
    position: relative;
    width: 280px;
    margin-right: 12px;
    opacity: 1;
    visibility: visible;
    transition: all .2s;
}

.card.find,
.card.calendar {
    z-index: 1;
    min-width: 280px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.find .search {
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    padding: 0 12px 0 48px;
    border: solid 2px transparent;
    border-bottom: solid 2px var(--color-border-highlight);
    font-size: 1rem;
    font-family: inherit;
    color: var(--color-font-primary);
    background-image: var(--icon-search);
    background-size: 20px;
    background-position: 12px center;
    background-repeat: no-repeat;
    background-color: var(--color-background-layer-highlight);
    outline: none;
    transition: all .2s;
}

.card.find .search:hover {
    border-bottom: solid 2px var(--color-active-focus);
}

.card.find .search:focus {
    border: solid 2px var(--color-active-focus);
}

.card.find .radio {
    display: none;
}

.card.find .label {
    position: relative;
    margin: 4px;
    padding: 6px 14px;
    display: inline-block;
    border-radius: 24px;
    font-size: 1rem;
    color: var(--color-font-secondary);
    background-color: var(--color-background-layer-highlight);
    cursor: pointer;
    outline: none;
    transition: all .2s;
}

.card.find .label:hover {
    background-color: var(--color-background-layer-highlight-plus);
}

.card.find .label:active,
.card.find .label:focus {
    color: var(--color-font-primary);
    background-color: var(--color-background-layer-highlight-plus);

}

.card.find .radio~.text {
    transition: padding .2s .1s;
}

.card.find .radio+.point {
    position: absolute;
    left: 9px;
    top: 8px;
    width: 20px;
    height: 20px;
    border-radius: 36px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all .2s;
}

.card.find .radio:checked~.text {
    padding-left: 20px;
    transition: all .2s;
}

.card.find .radio:checked+.point {
    opacity: 1;
    visibility: visible;
    transition: all .2s .1s;
}

.card.find .label.reset {
    color: var(--color-font-reverse);
    background-color: var(--color-theme-reset);
}

.card.find .label.hide {
    opacity: 0;
    visibility: hidden;
}

.card.find .bar {
    background-image: var(--icon-find);
}

.card.calendar .months {
    position: relative;
    width: 100%;
    margin-bottom: -8px;
    display: flex;
    flex-direction: column;
}

.card.calendar .label {
    width: 100%;
    height: 48px;
    margin-bottom: 8px;
    padding-right: 14px;
    border: solid 2px var(--color-background-layer-highlight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-font-secondary);
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: all .2s;
}

.card.calendar .label:hover .count {
    width: 72px;
}

.card.calendar .label:active,
.card.calendar .label:focus {
    border: solid 2px var(--color-active-focus);
}

.card.calendar .label:active .count,
.card.calendar .label:focus .count {
    background-color: transparent;
}

.card.calendar .months .count {
    position: relative;
    width: 48px;
    height: 100%;
    padding: 6px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--color-font-secondary);
    background-color: var(--color-background-layer-highlight);
    transition: all .2s;
}

.card.calendar .months .count::before {
    content: '';
    opacity: 0;
    transition: all .2s;
}

.card.calendar .label:hover .count::before {
    content: '× ';
    margin-right: 4px;
    opacity: 1;
}

.card.calendar .checkbox {
    display: none;
}

.card.calendar .checkbox:checked~.count {
    width: 88px;
}

.card.calendar .checkbox:checked~.count::before {
    content: '→ ';
    margin-right: 4px;
    opacity: 1;
}

.card.calendar .bar {
    background-image: var(--icon-calendar);
}

.card.tool {
    position: fixed;
    left: 12px;
    bottom: -132px;
    width: 72px;
    margin: 0;
    padding: 12px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: background-color .2s, box-shadow .2s;
}

.card.tool .button {
    background-color: var(--color-background-layer);
}

.card.tool .button:hover {
    background-color: var(--color-background-layer-highlight);
}

.card.tool .top,
.card.tool .bottom {
    width: 48px;
    height: 48px;
    color: transparent;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s;
}

.card.tool .top {
    background-image: var(--icon-top);
}

.card.tool .bottom {
    background-image: var(--icon-bottom);
}

@media screen and (max-width:640px) {
    section .bar {
        justify-content: center;
    }

    section .bar span:last-child {
        display: none;
    }

    .container {
        flex-direction: column;
        justify-content: flex-start
    }

    .card.tool .tool {
        display: none;
    }

    main {
        max-width: 100%;
        margin: 0;
        padding: 0 12px;
    }

    aside {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0 12px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}