html {
    --font: black;
    --font-weak: rgba(0, 0, 0, .5);
    --background: white;
    --background-weak: rgba(250, 250, 250, 1);
    --border: rgba(224, 224, 224, 1);
    --border-hover: black;
    --shadow: rgba(224, 224, 224, 1);
}

html[dark-mode='true'] {
    --font: rgba(250, 250, 250, 1);
    --font-weak: rgba(255, 255, 255, .5);
    --background: black;
    --background-weak: rgba(10, 10, 10, 1);
    --border: rgba(33, 33, 33, 1);
    --border-hover: white;
    --shadow: rgba(33, 33, 33, 1);
}


article {
    padding: 0 24px;
    color: var(--font);
    font-size: 16px;
    font-family: '思源黑体 CN', 'Noto Sans SC', sans-serif;
    font-weight: 300;
    line-height: 1.8em;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-weight: 500;
}

article h2::before,
article h3::before,
article h4::before,
article h5::before,
article h6::before {
    content: '# ';
    color: var(--border);
    transition: color .2s;
}

article h1 {
    margin-bottom: 24px;
    font-size: 2em;
    line-height: 1.8em;
}

article h2 {
    margin: 24px 0;
    font-size: 1.5em;
}

article h3 {
    margin: 12px 0;
    font-size: 1.25em;
}

article h4 {
    margin: 12px 0;
    font-size: 1.1em;
}

article h5 {
    margin: 12px 0;
    font-size: 1.05em;
}

article h6 {
    margin: 12px 0;
    font-size: 1em;
}

article img {
    max-width: 100%;
    margin: 12px 0;
    border-radius: 2px;
    box-shadow: 0 4px 12px var(--shadow);
}

article ol,
article ul {
    margin: 12px 0;
    margin-left: 1.5em;
}

article li {
    margin: 8px 0;
}

article code {
    margin: 0 2px;
    padding: 2px 6px;
    border-radius: 2px;
    background-color: var(--background-weak);
    font-size: .9em;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    word-break: break-all;
    transition: background-color .2s;
}

article pre {
    margin: 6px 2px;
    padding: 12px 16px;
    border-radius: 2px;
    background-color: var(--background-weak);
    line-height: 1.5em;
    overflow-x: auto;
    transition: background-color .2s;
}

article pre code {
    margin: 0;
    padding: 0;
}

article kbd {
    margin: 0 2px;
    padding: 2px 6px;
    border: solid 1px rgba(224, 224, 224, 1);
    border-radius: 2px;
    font-size: 0.9em;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    line-height: 1.5em;
}

article a {
    text-decoration: none;
    border-bottom: solid 1px transparent;
}

article a:hover,
article a:focus {
    border-bottom: solid 1px;
}

article strong {
    font-weight: 500;
}

article del {
    text-decoration: line-through;
}

article em {
    font-style: italic;
}

article blockquote {
    width: 100%;
    margin: 12px 0;
    padding: 0 16px;
    border-left: solid 4px rgba(224, 224, 224, 1);
    color: rgba(97, 97, 97, 1);
}

article hr {
    height: 4px;
    margin: 24px 0;
    padding: 0;
    border: none;
    background-color: rgba(224, 224, 224, 1);
}

article table {
    margin: 0;
    padding: 0;
    overflow: auto;
    border-collapse: collapse;
    border: solid 2px rgba(224, 224, 224, 1);
}

article th,
article td {
    padding: 8px 16px;
    border: solid 2px rgba(224, 224, 224, 1);
    white-space: nowrap;
}

article tr:nth-child(2n) {
    background-color: var(--background-weak);
    transition: background-color .2s;
}

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #383a42;
    background: #fafafa;
}

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 500;
}

.hljs-link {
    text-decoration: underline;
}