* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    overflow-y: auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'IBM Plex Sans', 'Noto Sans SC', '思源黑体 CN', sans-serif;
    color: var(--black);
}