---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

export interface Props {
  class?: string
  description: string
  path: string
}
const { description, path, class: className } = Astro.props
---

<figure class:list={['w-full', 'm-0 p-0', 'flex flex-col gap-2']}>
  <Image
    src={path}
    alt={description}
    title={description}
    inferSize
    layout="full-width"
    class:list={[
      'w-full h-auto',
      'rounded-md',
      'transition-shadow',
      'object-t object-cover',
      className,
    ]}
  />

  <figcaption
    class:list={[
      'w-full',
      'flex items-center justify-end gap-1.5',
      'text-xs -[1.625] text-neutral-500 dark:text-neutral-400',
      'transition-colors',
    ]}
  >
    <span>{description}</span>
    <Icon name="ri:arrow-up-s-line" class:list={['my-0.25']} />
  </figcaption>
</figure>
