---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

export interface Props {
  class?: string
  src: ImageMetadata
  alt: string
}
const { alt, src, class: className } = Astro.props
---

<figure
  class:list={['w-calc[100% + 2rem]', '-mx-4 my-4', 'flex flex-col gap-2']}
>
  <Image
    src={src}
    alt={alt}
    title={alt}
    inferSize
    loading="lazy"
    layout="full-width"
    class:list={['w-full h-auto', 'rounded-md', 'transition-shadow', className]}
  />

  <figcaption
    class:list={[
      'w-full',
      'flex items-center justify-end gap-1.5',
      'text-xs -[1.625] text-neutral-500 dark:text-neutral-400',
      'transition-colors',
    ]}
  >
    <span>{alt}</span>
    <Icon name="ri:arrow-up-s-line" class:list={['my-0.25']} />
  </figcaption>
</figure>
