---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

export interface Props {
  class?: string
  src: ImageMetadata
  alt: string
}
const { alt, src, class: className } = Astro.props
---

<figure class:list={['wrapper', 'flex flex-col gap-2', 'animate-fade-in']}>
  <Image
    src={src}
    alt={alt}
    title={alt}
    loading="lazy"
    layout="full-width"
    class:list={[
      'medium-zoom',
      'w-full h-auto',
      'text-sm text-neutral-100 dark:text-neutral-900 leading-12',
      'bg-neutral-100 dark:bg-neutral-900',
      'rounded-md',
      className,
    ]}
  />

  <figcaption
    class:list={[
      'w-full',
      'flex items-center justify-end gap-1.5',
      'text-xs leading-[1.625] text-neutral-500 dark:text-neutral-400',
      'transition-colors',
    ]}
  >
    <span>{alt}</span>
    <Icon name="ri:arrow-up-s-line" class:list={['my-0.25']} />
  </figcaption>
</figure>

<script>
  import mediumZoom from 'medium-zoom/dist/pure'
  import 'medium-zoom/dist/style.css'

  document.addEventListener('astro:page-load', () => {
    mediumZoom('.medium-zoom', {
      background: 'rgba(0, 0, 0, 0.5)',
    })
  })
</script>
