---
export interface Props {
  name?: string
}
const { name } = Astro.props
---

<div p="x-2 t-1.25 b-2.25" flex="~ row items-center justify-between">
  <h2 aria-label={name} text="sm secondary">{name}</h2>
  <slot />
</div>
