---
const props = Astro.props
---

<div class:list={['wrapper', 'flex', 'animate-fade-in']}>
  <img
    src={props.src}
    alt={props.alt}
    title={props.alt}
    loading="lazy"
    class:list={[
      'medium-zoom',
      'w-full h-auto',
      'text-sm text-neutral-100 dark:text-neutral-900 leading-12',
      'bg-neutral-100 dark:bg-neutral-900',
      'rounded-md',
    ]}
  />
</div>
