---
import { Image } from 'astro:assets'

const props = Astro.props
---

<div class:list={['wrapper', 'flex']}>
  <Image
    src={props.src}
    alt={props.alt}
    title={props.alt}
    loading="lazy"
    layout="full-width"
    class:list={['medium-zoom', 'w-full h-auto', 'rounded-md', props.class]}
  />
</div>
