---
const props = Astro.props
---

<div class:list={['wrapper', 'w-full', 'mx-0 my-4', 'flex']}>
  <img
    src={props.src}
    alt={props.alt}
    title={props.alt}
    loading="lazy"
    class:list={[
      'w-full h-auto',
      'rounded-md overflow-hidden',
      'transition-shadow',
      props.class,
    ]}
  />
</div>
