article {
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 64px;
  border-radius: 8px;
  font-size: 1rem;
  color: var(--font-primary);
  background-color: var(--layer);
  transition: all 0.2s;
}

article p,
article address {
  margin: 0.2rem 0;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--font-primary);
  transition: all 0.2s;
}

article address {
  font-style: normal;
}

article a {
  color: var(--font-link);
  padding: 3px 0;
  text-decoration: none;
  word-break: break-all;
  transition: all 0.2s;
}

article a:hover,
article a:active,
article a:focus {
  color: var(--font-link-highlight);
}

article strong {
  font-weight: bold;
}

article del {
  text-decoration: line-through;
}

article em {
  font-style: italic;
}

article h1,
article h2,
article h3 {
  color: var(--font-primary);
  font-weight: bold;
  transition: all 0.2s;
}

article h1 {
  position: relative;
  margin: 0 0 48px 0;
  font-size: 1.75rem;
}

article h2 {
  padding: 1rem 0;
  /* padding: 2rem 0 0 0; */
  font-size: 1.5rem;
  /* border-bottom: solid 2px var(--layer-highlight); */
}

article h3::before {
  content: "# ";
  color: var(--font-light);
  transition: all 0.2s;
}

article h3 {
  /* padding: 1rem 0; */
  font-size: 1.25rem;
  line-height: 2.5rem;
}

article h2 + h3 {
  margin: 0 0 1rem 0;
}

article ol,
article ul {
  margin-left: 1.5rem;
}

article li {
  color: var(--font-primary);
  font-size: 1rem;
  line-height: 2rem;
  transition: all 0.2s;
}

article img {
  width: auto;
  max-width: 100%;
  height: auto;
  /* padding: 2px; */
  opacity: 1;
  margin: 0.5rem 0;
  border: solid 2px var(--layer-highlight);
  border-radius: 4px;
  display: block;
  color: var(--font-secondary);
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: right;
  transition: all 0.2s;
}

article code {
  margin: 0 2px;
  padding: 2px 6px;
  color: var(--font-code);
  background-color: var(--layer-highlight);
  font-size: 1rem;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  word-break: break-all;
  transition: all 0.2s;
}

article code[class*="language-"] {
  padding: 0.2rem 0.4rem;
  color: var(--font-code);
  background-color: var(--layer-highlight);
  font-size: 1rem;
  border-radius: 4px;
  word-break: break-all;
  white-space: pre-wrap;
}

article pre code[class*="language-"] {
  padding: 0;
  white-space: unset;
}

article table code[class*="language-"] {
  word-break: keep-all;
  white-space: nowrap;
}

article h2 code[class*="language-"],
article h3 code[class*="language-"] {
  font-size: 1em;
}

article pre {
  margin: 0.75rem 0;
  padding: 1rem 1.5rem;
  background-color: var(--layer-highlight);
  line-height: 1.5rem;
  overflow-x: auto;
  transition: all 0.2s;
}

article pre[class*="language-"] {
  margin: 0.75rem 0;
  padding: 1rem 1.5rem;
  color: var(--font-code);
  background-color: var(--layer-highlight);
  font-size: 1rem;
  border-radius: 4px;
}

article pre + pre {
  margin-top: 1rem;
}

article pre code {
  margin: 0;
  padding: 0;
  border: none;
}

article blockquote {
  width: 100%;
  margin: 16px 0;
  padding: 4px 24px;
  border-left: solid 8px var(--layer-highlight);
  border-radius: 4px;
}

article blockquote p,
article blockquote li,
article blockquote code {
  color: var(--font-code);
}

article blockquote p {
  margin: 0.5rem 0;
}

article table {
  width: 100%;
  margin: 1em 0;
  padding: 0;
  border-radius: 4px;
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  color: var(--font-primary);
  transition: all 0.2s;
}

article table code {
  word-break: keep-all;
  transition: all 0.2s;
}

article th,
article td {
  width: 100%;
  padding: 12px 16px;
  color: var(--font-primary);
  border: solid 2px var(--layer-highlight-plus);
  font-weight: normal;
  white-space: nowrap;
  transition: all 0.2s;
}

article th {
  font-weight: bold;
  background-color: var(--layer-highlight);
}

article .anchor.before {
  height: 100%;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}

.gatsby-highlight {
  position: relative;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 4rem;
}

.gatsby-highlight pre[class*="language-"].line-numbers span.line-numbers-rows {
  width: 2.8rem !important;
  height: 100%;
  padding: 0 0 0 12px;
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--layer-highlight-plus);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: var(--font-invert);
  background-color: var(--background-select);
}

.copy-button {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  padding: 0.4rem 0.9rem;
  border: none;
  border-radius: 4px;
  background-color: var(--layer-highlight);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--font-secondary);
  cursor: pointer;
  transition: all 0.2s;
}

.copy-button:hover,
.copy-button:focus,
.copy-button:active {
  background-color: var(--layer-highlight-plus);
}

.post-toc.hide {
  opacity: 0;
  visibility: hidden;
}

.post-toc {
  position: absolute;
  left: calc(-60vw + 50%);
  top: 0;
  z-index: 50;
  width: 30vw;
  margin: 0;
  padding: 112px 0 112px 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: var(--font-primary);
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.2s;
}

.toc > ul > li > p {
  font-weight: bold;
  margin: 0 0 2px 0;
}

.toc > ul > li > p > a {
  padding: 0;
}

.toc > ul,
.toc > ul > li > ul {
  padding-left: 0;
}

.toc ul ul ul a::before {
  content: "# ";
  padding: 0 0.4rem;
  color: var(--font-light);
}

.toc p,
.toc li {
  display: flex;
  flex-direction: column;
  list-style: none;
  white-space: nowrap;
}

.toc a {
  width: fit-content;
  max-width: 20vw;
  color: var(--font-secondary);
  line-height: 2rem;
  padding: 3px 0;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.2s;
}

.toc a:hover,
.toc a:active,
.toc a:focus {
  color: var(--font-primary);
}

.toc code {
  width: 100%;
  padding: 2px 6px;
  background-color: var(--background-highlight);
  font-size: 1rem;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  white-space: nowrap;
  transition: all 0.2s;
}

.toc code[class*="language-"] {
  color: var(--font-secondary);
  padding: 0.2rem 0.4rem;
  background-color: var(--background-highlight);
  font-size: 1rem;
  border-radius: 4px;
}

@media screen and (max-width: 1140px) {
  article {
    padding: 48px;
  }

  .post-toc {
    padding: 96px 10vw;
  }
}

@media screen and (max-width: 900px) {
  .post-toc {
    display: none;
  }

  .post-toc.show {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: var(--blur);
    backdrop-filter: blur(10px);
    transition: all 0.2s;
  }

  .post-toc.show .toc {
    width: 100%;
    height: 100%;
    padding: 56px 32px 96px 32px;
    overflow-y: auto;
  }

  .post-toc.show .toc a {
    max-width: 100%;
  }

  .copy-button {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  article {
    padding: 36px;
  }
}

@media screen and (max-width: 500px) {
  article {
    padding: 32px;
  }
}
