.fab {
  position: fixed;
  right: 48px;
  z-index: 200;
  width: 64px;
  height: 64px;
  padding: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 64px;
  text-decoration: none;
  background-color: var(--layer);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  outline: none;
  transition: all 0.2s;
}

.fab::before {
  content: "";
  position: absolute;
  left: 0;
  top: -56px;
  width: 100%;
  padding: 8px 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--pop);
  backdrop-filter: blur(15px);
  font-family: inherit;
  color: var(--pop-font);
  font-size: 1rem;
  outline: none;
  transition: all 0.2s;
}

.fab:hover::before {
  opacity: 1;
  visibility: visible;
}

.fab.home {
  bottom: 136px;
  background-image: var(--icon-home);
}

.fab.home::before {
  content: "主页";
}

.fab.home:hover,
.fab.home:focus,
.fab.home:active {
  background-image: var(--icon-home-hover);
}

.fab.about {
  /* bottom: 136px; */
  bottom: 48px;
  background-image: var(--icon-about);
}

.fab.about::before {
  content: "关于";
}

.fab.about:hover,
.fab.about:focus,
.fab.about:active {
  background-image: var(--icon-about-hover);
}

.fab.chat {
  bottom: 48px;
  background-image: var(--icon-chat);
}

.fab.chat::before {
  content: "留言";
}

.fab.chat:hover,
.fab.chat:focus,
.fab.chat:active {
  background-color: var(--green);
  background-image: var(--icon-chat-hover);
}

.fab.like {
  /* bottom: 224px; */
  bottom: 136px;
  background-image: var(--icon-like);
}

.fab.like::before {
  content: "喜欢";
}

.fab.like:hover,
.fab.like:focus,
.fab.like:active {
  background-color: var(--red);
  background-image: var(--icon-like-hover);
}

.fab.focus-content {
  bottom: 224px;
  background-image: var(--icon-focus);
}

.fab.focus-content::before {
  content: "聚焦";
}

.fab.focus-content:hover,
.fab.focus-content:focus,
.fab.focus-content:active {
  background-image: var(--icon-focus-hover);
}

.fab.focus-content.max {
  background-image: var(--icon-unfocus);
}

.fab.focus-content.max::before {
  content: "正常";
}

.fab.focus-content.max:hover,
.fab.focus-content.max:focus,
.fab.focus-content.max:active {
  background-image: var(--icon-unfocus-hover);
}

.fab.to-top {
  bottom: 136px;
  background-image: var(--icon-top);
}

.fab.to-top::before {
  content: "最上";
}

.fab.to-top:hover,
.fab.to-top:focus,
.fab.to-top:active {
  background-image: var(--icon-top-hover);
}

.fab.back-home {
  bottom: 48px;
  background-image: var(--icon-close);
}

.fab.back-home::before {
  content: "返回";
}

.fab.back-home:hover,
.fab.back-home:focus,
.fab.back-home:active {
  background-image: var(--icon-close-hover);
}

.fab.toggle-toc {
  display: none;
  opacity: 0;
  background-image: var(--icon-toc);
}

.fab.toggle-toc::before {
  content: "目录";
}

.fab.toggle-toc:hover,
.fab.toggle-toc:focus,
.fab.toggle-toc:active {
  background-image: var(--icon-toc-hover);
}

.fab.toggle-toc.show {
  background-image: var(--icon-toc-fold);
}

.fab.toggle-toc.show::before {
  content: "折叠";
}

.fab.toggle-toc.show:hover,
.fab.toggle-toc.show:focus,
.fab.toggle-toc.show:active {
  background-image: var(--icon-toc-fold-hover);
}

.fab:hover,
.fab:active,
.fab:focus {
  border: none;
  background-color: var(--yellow);
  transition: all 0.2s;
}

@media screen and (max-width: 1200px) {
  .fab {
    right: 24px;
  }
}

@media screen and (max-width: 1080px) {
  .fab.toggle-toc {
    bottom: 224px;
    display: flex;
    opacity: 1;
  }

  .fab.focus-content {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .fab {
    position: relative;
    right: unset !important;
    left: unset !important;
    bottom: unset !important;
    width: 108px;
    height: 48px;
    margin: 8px 0;
    padding: 0 0 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--font-primary);
    background-color: transparent;
    background-size: 24px;
    background-position: 16px center;
    box-shadow: none;
    transition: all 0.2s;
  }

  .fab::before {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .fab {
    width: 48px;
    margin: 8px 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    font-size: 1rem;
    font-weight: normal;
    color: transparent;
    background-position: center;
    box-shadow: none;
    transition: all 0.2s;
  }

  .fab::before {
    display: flex;
  }
}
