header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 30%;
  height: auto;
  padding: 56px 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  font-size: 1.125rem;
  pointer-events: none;
  transition: all 0.2s;

  @media (max-width: 1024px) {
    padding: 48px;
  }

  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    transition: all 0.4s;
    perspective: 2000px;

    .mask {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      transition: all 0.4s;
    }

    .card {
      z-index: 100;
      width: 400px;
      height: 400px;
      padding: 24px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      transform: rotateX(30deg) scaleX(0.9);
      transition: all 0.2s;

      svg {
        width: 36px;
        height: 36px;
        margin: 18px;
      }

      span {
        color: #616161;
      }
    }

    &.show {
      opacity: 1;
      visibility: visible;

      .card {
        transform: rotateX(0) scaleX(1);
      }
    }
  }

  .title {
    display: flex;
    font-size: 1.15rem;
    margin: 0 8px 0 20px;
    pointer-events: auto;
  }

  a,
  button {
    width: 72px;
    height: 72px;
    padding: 24px;
    margin: 0;
    border: none;
    border-radius: 36px;
    display: flex;
    align-items: center;
    line-height: 24px;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    pointer-events: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: none;
    color: #000000;
    font-family: inherit;
    transition: all 0.2s;

    &.mobile-only {
      display: none;
    }

    &.auto-width {
      width: auto;
    }
  }

  @media (max-width: 768px) {
    top: 0;
    left: 0;
    right: unset;
    bottom: unset;
    width: 72px;
    min-height: 100vh;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;

    .title {
      display: none;
    }

    a,
    button {
      margin: 0;
      border-radius: 0;
      background-color: transparent;

      &.mobile-only {
        display: flex;
      }
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    height: 120px;
    min-height: unset;
    padding: 24px;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;

    .title {
      display: inline-block;
    }

    .dialog {
      .card {
        position: absolute;
        left: 0;
        top: -60vh;
        z-index: 100;
        width: 100%;
        max-width: 100%;
        height: 60vh;
        border-radius: 0;
        transform: none;
      }

      &.show {
        .card {
          top: 0;
          left: 0;
          width: 100%;
          border-radius: 0;
        }
      }
    }

    a,
    button {
      width: 72px;
      height: 72px;
      margin: 0;
      border-radius: 72px;
      background-color: rgba(245, 245, 245, 0.8);
      backdrop-filter: blur(12px);

      &.auto-width {
        width: auto;
      }

      &.desktop-only {
        display: none;
      }
    }
  }

  a:active,
  a:focus,
  a:hover,
  button:active,
  button:focus,
  button:hover {
    background-color: #eeeeee;
  }
}
