header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
  width: 30vw;
  height: 100%;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-primary);
  background-color: transparent;
  transition: all 0.2s;
}

header.hide {
  opacity: 0;
  visibility: hidden;
}

header > h1 {
  position: relative;
  font-size: 1.75rem;
}

header > p {
  line-height: 2rem;
}

header > img {
  width: 15vw;
  height: 15vw;
  margin: 48px;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 900px) {
  header {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: none;
  }

  header > img {
    width: 72px;
    height: 72px;
    margin: 0 24px 0 0;
  }

  header > h1 {
    display: inline-block;
  }
}
