header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 90;
  width: 30vw;
  padding: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--font-primary);
  background-color: transparent;
  transition: all 0.2s;
}

header.hide {
  opacity: 0;
  visibility: hidden;
}

header > h1 {
  position: relative;
  font-size: 1.25rem;
  /* font-weight: normal; */
}

header > p {
  line-height: 2rem;
}

header > h1 > span {
  white-space: nowrap;
}

header > img {
  width: 64px;
  height: 64px;
  margin: 0 32px 0 0;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media screen and (max-width: 900px) {
  header {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: none;
  }

  header > img {
    width: 48px;
    height: 48px;
    margin: 0;
  }

  header > h1 {
    display: inline-block;
    margin: 0 24px;
  }
}
