header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 72px;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  font-size: 1.125rem;

  .dialog {
    display: none;
  }

  .title {
    display: none;
  }

  @media (max-width: 768px) {
    height: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #ffffff;

    .dialog {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9000;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;

      &.show {
        opacity: 1;
        visibility: visible;
      }

      .mask {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }

      .card {
        z-index: 100;
        width: calc(100% - 48px);
        max-width: 360px;
        height: auto;
        min-height: 40vh;
        padding: 24px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;

        svg {
          width: 36px;
          height: 36px;
          margin: 18px;
        }

        span {
          color: #616161;
        }
      }
    }

    a,
    button {
      width: 72px;
      height: 72px;
      padding: 24px;
      border: none;
      display: flex;
      align-items: center;
      line-height: 24px;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      outline: none;
      color: #000000;
      font-family: inherit;
      transition: all 0.2s;

      &.auto-width {
        width: auto;
      }
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    height: auto;
    min-height: unset;
    padding: 24px;
    flex-direction: row;
    background-color: transparent;

    .title {
      display: inline-block;
      font-size: 1.15rem;
      margin: 0 8px 0 20px;
    }

    a,
    button {
      width: 72px;
      height: 72px;
      border-radius: 72px;
      background-color: #f5f5f5;

      &.auto-width {
        width: auto;
      }
    }
  }

  a:active,
  a:focus,
  a:hover,
  button:active,
  button:focus,
  button:hover {
    background-color: #eeeeee;
  }
}
