* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  position: relative;
  background-color: var(--background-0);
  font-family: "Inter", "思源黑体 CN", "Source Han Sans", "Source Han Sans CN",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  transition: all 0.2s;
}

main {
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.container {
  position: relative;
  width: 100%;
  max-width: calc(30% + 900px);
  padding: 56px 72px 56px calc(30% + 72px);
  background: var(--background-0);
  transition: all 0.2s;

  @media (max-width: 1120px) {
    padding: 48px 48px 48px calc(30% + 48px);
  }

  @media (max-width: 824px) {
    padding: 48px 48px 48px calc(72px + 48px);
  }

  @media (max-width: 600px) {
    padding: 48px 36px 48px calc(72px + 36px);
  }

  @media (max-width: 480px) {
    padding: 36px 36px 120px 36px;
  }

  @media (max-width: 420px) {
    padding: 32px 32px 116px 32px;
  }
}

.skip-link {
  position: fixed;
  z-index: 999999;
  top: -48px;
  left: 16px;
  width: auto;
  height: 48px;
  padding: 12px 20px;
  border: solid 2px var(--font-link);
  border-radius: 4px;
  color: var(--font-link);
  background-color: var(--background-0);
  text-decoration: none;
  opacity: 0;
  transition: all 0.2s;
}

.skip-link:active,
.skip-link:focus {
  top: 16px;
  opacity: 1;
  background-color: var(--background-0);
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  padding: 12px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  background-color: #ffeb3b;
}

.update-card {
  width: 100%;
  height: auto;
  margin: 0 0 64px 0;
  padding: 24px 28px 20px 28px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-left: solid 12px var(--info);
  border-radius: 4px;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--font-primary);
  background-color: var(--background-4);

  section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  p {
    margin: 0;
    font-weight: bold;
  }

  .icon {
    margin: 0 0.75rem 0 0;
    width: 20px;
    height: 20px;
    fill: var(--font-primary);
  }

  .title {
    display: flex;
    align-items: center;
    color: var(--font-secondary);
  }

  &.show {
    display: flex;
  }

  .reload-page {
    width: 24px;
    height: 30px;
    margin: 0 0 0 24px;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    svg {
      width: 20px;
      height: 20px;
      fill: var(--font-primary);
    }
  }
}
