* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
}

html {
  overflow-x: hidden;
  /* overflow-y: overlay; */
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

.layout {
  position: relative;
  height: auto;
  min-height: 100vh;
  margin: 0 160px 72px 384px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;
  font-family: "Quicksand", "思源黑体 CN", "Source Han Sans CN", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  transition: all 0.2s;
}

.layout.max {
  margin: 0 160px;
}

.layout > main {
  position: relative;
  z-index: 100;
  width: 100%;
  /* min-width: calc(50vw + 96px); */
  min-height: 100vh;
  margin: 0;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--layer);
  /* box-shadow: 0 0 48px 24px rgba(0, 0, 0, 0.04); */
  transition: margin 0.2s, padding 0.2s;
  /* animation: opacity 0.4s; */
}

.layout > main.max {
  padding: 0;
}

.subtitle {
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  margin: 0;
}

.fab {
  position: fixed;
  /* right: calc(5vw - 32px - 8.5px); */
  right: 48px;
  z-index: 200;
  width: 64px;
  height: 64px;
  padding: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 1rem;
  border-radius: 64px;
  text-decoration: none;
  background-color: var(--layer);
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /* box-shadow: 0 0 24px rgba(0, 0, 0, 0.05); */
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  transition: all 0.2s;
}

.fab.home {
  bottom: 136px;
  background-image: var(--icon-home);
}

.fab.about {
  bottom: 48px;
  background-image: var(--icon-about);
}

.fab.like {
  /* left: calc(5vw + 224px); */
  left: 272px;
  right: unset;
  bottom: 48px;
  background-image: var(--icon-like);
}

.fab.focus-content {
  bottom: 224px;
  background-image: var(--icon-focus);
}

.fab.focus-content.max {
  background-image: var(--icon-unfocus);
}

.fab.to-top {
  bottom: 136px;
  background-image: var(--icon-top);
}

.fab.back-home {
  bottom: 48px;
  background-image: var(--icon-close);
}

.fab.toggle-toc {
  display: none;
  opacity: 0;
  background-image: var(--icon-toc);
}

.fab.toggle-toc.show {
  background-image: var(--icon-toc-fold);
}

.fab.home:hover,
.fab.home:focus,
.fab.home:active {
  background-image: var(--icon-home-hover);
}

.fab.about:hover,
.fab.about:focus,
.fab.about:active {
  background-image: var(--icon-about-hover);
}

.fab.like:hover,
.fab.like:focus,
.fab.like:active {
  background-color: var(--red);
  background-image: var(--icon-like-hover);
}

.fab.focus-content:hover,
.fab.focus-content:focus,
.fab.focus-content:active {
  background-image: var(--icon-focus-hover);
}

.fab.focus-content.max:hover,
.fab.focus-content.max:focus,
.fab.focus-content.max:active {
  background-image: var(--icon-unfocus-hover);
}

.fab.to-top:hover,
.fab.to-top:focus,
.fab.to-top:active {
  background-image: var(--icon-top-hover);
}

.fab.back-home:hover,
.fab.back-home:focus,
.fab.back-home:active {
  background-image: var(--icon-close-hover);
}

.fab.toggle-toc:hover,
.fab.toggle-toc:focus,
.fab.toggle-toc:active {
  background-image: var(--icon-toc-hover);
}
.fab.toggle-toc.show:hover,
.fab.toggle-toc.show:focus,
.fab.toggle-toc.show:active {
  background-image: var(--icon-toc-fold-hover);
}

.fab:hover,
.fab:active,
.fab:focus {
  border: none;
  background-color: var(--yellow);
  transition: all 0.2s;
}

.skip-link {
  position: fixed;
  top: -24px;
  left: 24px;
  opacity: 0;
  transition: all 0.2s;
}

.skip-link:active,
.skip-link:focus {
  top: 24px;
  opacity: 1;
}

.notice {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mask-blur);
  backdrop-filter: blur(20px);
  transition: all 0.4s;
}

.notice.show {
  opacity: 1;
  visibility: visible;
}

.notice .text {
  font-size: 2rem;
  color: var(--font-primary);
}

hr {
  border: none;
  margin: 0 0 48px 0;
}

@media screen and (min-width: 2000px) {
  .layout {
    max-width: 1200px;
    margin: 0 auto 72px auto;
  }
}

@media screen and (max-width: 1380px) {
  .layout {
    margin: 0 160px 72px 296px;
  }

  .layout > main {
    padding: 48px 0;
  }

  .fab.like {
    left: unset;
    /* right: calc(5vw - 32px); */
    right: 48px;
    bottom: 136px;
  }
}

@media screen and (max-width: 1140px) {
  .layout {
    margin: 0 112px 72px 248px;
  }

  .layout.max {
    margin: 0 112px;
  }

  .layout > main {
    margin: 0;
  }

  .fab,
  .fab.like {
    right: 24px;
  }
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 16px;
  }

  .layout {
    margin: 0;
    padding: 0;
    min-height: unset;
  }

  .layout > main {
    padding: 24px;
    min-height: unset;
  }

  .layout > main > nav {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    height: auto;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--blur);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
  }

  .fab {
    position: relative;
    right: unset !important;
    left: unset !important;
    bottom: unset !important;
    width: auto;
    height: 48px;
    margin: 12px 0;
    padding: 0 16px 0 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-primary);
    /* visibility: hidden;
    opacity: 0; */
    border-radius: 4px;
    font-size: 1rem;
    background-color: transparent;
    background-position: 12px center;
    background-size: 24px;
    box-shadow: none;
    transition: all 0.2s;
  }

  .fab.toggle-toc {
    display: flex;
    opacity: 1;
  }

  .fab.focus-content {
    display: none;
  }

  .fab:hover,
  .fab:active,
  .fab:focus {
    color: var(--black);
  }
}

@media screen and (max-width: 640px) {
  html {
    overflow: auto;
  }

  .layout {
    flex-direction: column;
  }

  .layout > main {
    height: auto;
    padding: 24px 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
