* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

.layout {
  position: relative;
  z-index: 100;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;
  font-family: "Quicksand", "思源黑体 CN", "Source Han Sans CN", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  transition: all 0.2s;
}

.layout > main {
  position: relative;
  z-index: 100;
  width: calc(100% - 160px - 384px);
  min-height: 60vh;
  margin: 0 160px 0 384px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--layer);
  transition: all 0.2s;
}

.layout > main.max {
  width: calc(100% - 160px - 160px);
  margin: 0 160px;
}

.subtitle {
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  margin: 0;
}

.fab {
  position: fixed;
  right: 48px;
  z-index: 200;
  width: 64px;
  height: 64px;
  padding: 12px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 64px;
  text-decoration: none;
  background-color: var(--layer);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  outline: none;
  transition: all 0.2s;
}

.fab::before {
  content: "";
  position: absolute;
  left: 0;
  top: -56px;
  width: 100%;
  padding: 8px 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--pop);
  backdrop-filter: blur(15px);
  font-family: inherit;
  color: var(--pop-font);
  font-size: 1rem;
  outline: none;
  transition: all 0.2s;
}

.fab:hover::before {
  opacity: 1;
  visibility: visible;
}

.fab.home {
  bottom: 136px;
  background-image: var(--icon-home);
}

.fab.home::before {
  content: "主页";
}

.fab.home:hover,
.fab.home:focus,
.fab.home:active {
  background-image: var(--icon-home-hover);
}

.fab.about {
  bottom: 48px;
  background-image: var(--icon-about);
}

.fab.about::before {
  content: "关于";
}

.fab.about:hover,
.fab.about:focus,
.fab.about:active {
  background-image: var(--icon-about-hover);
}

.fab.like {
  bottom: 136px;
  background-image: var(--icon-like);
}

.fab.like::before {
  content: "喜欢";
}

.fab.like:hover,
.fab.like:focus,
.fab.like:active {
  background-color: var(--red);
  background-image: var(--icon-like-hover);
}

.fab.focus-content {
  bottom: 224px;
  background-image: var(--icon-focus);
}

.fab.focus-content::before {
  content: "聚焦";
}

.fab.focus-content:hover,
.fab.focus-content:focus,
.fab.focus-content:active {
  background-image: var(--icon-focus-hover);
}

.fab.focus-content.max {
  background-image: var(--icon-unfocus);
}

.fab.focus-content.max::before {
  content: "正常";
}

.fab.focus-content.max:hover,
.fab.focus-content.max:focus,
.fab.focus-content.max:active {
  background-image: var(--icon-unfocus-hover);
}

.fab.to-top {
  bottom: 136px;
  background-image: var(--icon-top);
}

.fab.to-top::before {
  content: "最上";
}

.fab.to-top:hover,
.fab.to-top:focus,
.fab.to-top:active {
  background-image: var(--icon-top-hover);
}

.fab.back-home {
  bottom: 48px;
  background-image: var(--icon-close);
}

.fab.back-home::before {
  content: "返回";
}

.fab.back-home:hover,
.fab.back-home:focus,
.fab.back-home:active {
  background-image: var(--icon-close-hover);
}

.fab.toggle-toc {
  display: none;
  opacity: 0;
  background-image: var(--icon-toc);
}

.fab.toggle-toc:hover,
.fab.toggle-toc:focus,
.fab.toggle-toc:active {
  background-image: var(--icon-toc-hover);
}

.fab.toggle-toc.show {
  background-image: var(--icon-toc-fold);
}

.fab.toggle-toc.show:hover,
.fab.toggle-toc.show:focus,
.fab.toggle-toc.show:active {
  background-image: var(--icon-toc-fold-hover);
}

.fab:hover,
.fab:active,
.fab:focus {
  border: none;
  background-color: var(--yellow);
  transition: all 0.2s;
}

.skip-link {
  position: fixed;
  z-index: 9999;
  top: -24px;
  left: 24px;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--font-link);
  background-color: var(--layer);
  opacity: 0;
  transition: all 0.2s;
}

.skip-link:active,
.skip-link:focus {
  top: 24px;
  opacity: 1;
}

.notice {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blur);
  backdrop-filter: blur(15px);
  transition: all 0.4s;
}

.notice.show {
  opacity: 1;
  visibility: visible;
}

.notice .title {
  margin: 12px;
  font-size: 2.5rem;
  color: var(--font-primary);
}

.notice .subtitle {
  font-size: 2rem;
  font-family: inherit;
  color: var(--font-primary);
}

hr {
  border: none;
  margin: 0 0 48px 0;
}

@media screen and (min-width: 1800px) {
  .layout {
    max-width: 1800px;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 1380px) {
  .layout > main {
    padding: 12px;
  }
}

@media screen and (max-width: 1140px) {
  .layout > main {
    width: calc(100% - 112px - 248px);
    margin: 0 112px 0 248px;
  }

  .layout > main.max {
    width: calc(100% - 112px - 112px);
    margin: 0 112px;
  }

  .fab {
    right: 24px;
  }
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 16px;
  }

  .layout {
    margin: 0;
    padding: 0;
    min-height: unset;
  }

  .layout > main {
    width: 100%;
    margin: 0;
    padding: 24px;
    min-height: unset;
  }

  .layout > main.max {
    width: 100%;
    margin: 0;
  }

  .layout > main > nav {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    height: auto;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--blur);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
  }

  .fab {
    position: relative;
    right: unset !important;
    left: unset !important;
    bottom: unset !important;
    width: auto;
    height: 48px;
    margin: 12px 0;
    padding: 0 20px 0 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-primary);
    border-radius: 4px;
    font-size: 1rem;
    background-color: transparent;
    background-position: 16px center;
    background-size: 24px;
    box-shadow: none;
    transition: all 0.2s;
  }

  .fab::before {
    content: none !important;
  }

  .fab.toggle-toc {
    display: flex;
    opacity: 1;
  }

  .fab.focus-content {
    display: none;
  }

  .fab:hover,
  .fab:active,
  .fab:focus {
    color: var(--black);
  }
}

@media screen and (max-width: 640px) {
  html {
    overflow: auto;
  }

  .layout {
    flex-direction: column;
  }

  .layout > main {
    height: auto;
    padding: 24px 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
