.post-list {
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 72px 80px;
  border-radius: 8px;
  /* background-color: white; */
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.02); */
  transition: all 0.2s;
}

.post-list > p {
  font-size: 1rem;
  line-height: 2rem;
}

.post-list > h2 {
  margin: 0 0 40px 0;
  font-size: 1.75rem;
}

.post {
  position: relative;
  width: fit-content;
  max-width: 100%;
  height: 48px;
  margin: 12px 0;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  border-radius: 48px;
  background-color: #f5f5f5;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.02); */
  transition: all 0.2s;
}

.post.hide {
  display: none;
}

.post a {
  position: relative;
  width: fit-content;
  max-width: 100%;
  text-decoration: none;
}

.post > a > h3 {
  position: relative;
  width: fit-content;
  max-width: 100%;
  font-size: 1rem;
  padding: 3px 0;
  font-weight: normal;
  color: black;
  /* border-bottom: solid 2px #f5f5f5; */
  transition: all 0.2s;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* .post > a > h3:hover,
.post > a > h3:focus {
  border-bottom: solid 2px #FFEB3B;
} */

.post > a > h3::after {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0 0 16px;
  background-color: #eeeeee;
  border-radius: 1rem;
  transition: all 0.2s 0.1s;
}

.post > a > h3:hover::after,
.post > a > h3:focus::after {
  content: "";
  background-color: #ffeb3b;
}

.post-date {
  position: relative;
  width: fit-content;
  max-width: 100%;
  margin: 0 24px 0 0;
  padding: 4px 8px;
  color: #616161;
  /* background-color: #f5f5f5; */
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  font-family: "Consolas", "Courier New", Courier, monospace;
  transition: all 0.2s;
}

.expand-post {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 24px 0 0 0;
  padding: 4px 8px;
  border: none;
  color: transparent;
  background-color: #f5f5f5;
  border-radius: 48px;
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' width='32' height='32' viewBox='0 0 32 32' aria-hidden='true'%3E%3Cpath d='M16 22L6 12l1.4-1.4 8.6 8.6 8.6-8.6L26 12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  outline: none;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.02); */
  font-family: "Consolas", "Courier New", Courier, monospace;
  transition: all 0.2s, transform 0.4s;
}

.expand-post[data-status="expand"] {
  transform: rotate(180deg);
}

.expand-post:hover,
.expand-post:focus {
  background-color: #eeeeee;
}

.expand-post:active {
  background-color: #e0e0e0;
}

.post-toc {
  position: absolute;
  left: calc(-65vw + 50%);
  top: 300px;
  z-index: 50;
  width: 30vw;
  margin: 0;
  padding: 32px 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: black;
  /* user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; */
  overflow: hidden;
  transition: all 0.2s;
}

.toc > ul > li > p {
  display: none;
  font-weight: bold;
  padding: 0 0 0.25rem 0;
}

.toc ul {
  padding-left: 1rem;
}

.toc > ul,
.toc > ul > li > ul {
  padding-left: 0;
}

.toc li {
  list-style: none;
  white-space: nowrap;
}

.toc a {
  color: #616161;
  line-height: 2rem;
  padding: 3px 0;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.2s;
}

.toc a:hover,
.toc a:active,
.toc a:focus {
  color: black;
}

.toc code {
  padding: 2px 6px;
  background-color: #eeeeee;
  font-size: 1rem;
  font-family: "Consolas", "Courier New", Courier, monospace;
  white-space: nowrap;
  transition: all 0.2s;
}

.toc code[class*="language-"] {
  padding: 0.2rem 0.4rem;
  background-color: #eeeeee;
  font-size: 1rem;
  border-radius: 4px;
}

@media screen and (max-width: 1380px) {
  .post-toc {
    padding: 32px 80px;
  }
}

@media screen and (max-width: 1200px) {
  .post > a > h3::after {
    display: none;
  }
}
/*
@media screen and (max-width: 1140px) {
  .post-toc {
    right: -352px;
  }
} */

@media screen and (max-width: 900px) {
  .post-list {
    margin: 0 0 24px 0;
  }

  .post-toc {
    display: none;
    /* display: none; */
    /* position: relative;
    top: unset;
    right: unset;
    padding: 0 48px; */
  }
}

@media screen and (max-width: 840px) {
  .post-list {
    padding: 48px;
  }
}

@media screen and (max-width: 640px) {
  .post-list {
    margin: 0 0 12px 0;
  }
  .post-date {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .post-date {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .post-list {
    padding: 48px 36px;
  }
}

@media screen and (max-width: 400px) {
  .post-list {
    padding: 48px 32px;
  }
}
