.post-list {
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 64px;
  border-radius: 8px;
  transition: all 0.2s;
}

.post {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 0 48px 0;
  padding: 0 0 48px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  border-bottom: solid 2px var(--layer-highlight);
  background-color: var(--layer);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px;
  /* box-shadow: 0 0 24px rgba(0, 0, 0, 0.02); */
  transition: all 0.2s;
}

.post:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.post.hide {
  display: none;
}

.post a {
  position: relative;
  width: fit-content;
  max-width: 100%;
  text-decoration: none;
}

.post .title {
  position: relative;
  width: fit-content;
  max-width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--font-primary);
  transition: all 0.2s;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post .title::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 12px;
  border-radius: 24px;
  transition: all 0.2s;
}

.post .title:hover::after,
.post .title:focus::after,
.post .title:active::after {
  background-color: var(--yellow);
}

.post .tag {
  padding: 0 1rem 0 0;
  line-height: 2rem;
  color: var(--font-secondary);
}

.post .date {
  position: relative;
  width: fit-content;
  max-width: 100%;
  padding: 0 1rem 0 0;
  color: var(--font-secondary);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2rem;
  white-space: nowrap;
  align-self: flex-end;
  transition: all 0.2s;
}

.post .description {
  line-height: 1.5rem;
  color: var(--font-primary);
}

.post .read-more {
  color: var(--font-link);
  text-align: right;
  margin-top: 32px;
  line-height: 2rem;
  transition: all 0.2s;
}

.post .read-more:hover,
.post .read-more:active,
.post .read-more:focus {
  color: var(--font-link-highlight);
}

@media screen and (max-width: 1140px) {
  .post-list {
    padding: 48px;
  }
}

@media screen and (max-width: 900px) {
  .post .title::after {
    content: "";
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .post-list {
    padding: 36px;
  }
}

@media screen and (max-width: 640px) {
  .post {
    margin: 0 0 36px 0;
    padding: 0 0 36px 0;
  }

  .post .read-more {
    margin: 1rem 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .post-list {
    padding: 32px;
  }
}
