.showcase {
  position: fixed;
  left: 48px;
  bottom: 48px;
  z-index: 2000;
  width: 288px;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.showcase.show {
  opacity: 1;
  visibility: visible;
}

.tabs {
  width: fit-content;
  height: 64px;
  padding: 4px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 32px;
  background-color: var(--layer);
  transition: all 0.2s;
}

.tabs .tab {
  margin: 0 16px 0 0;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  font-family: inherit;
  color: var(--font-secondary);
  cursor: pointer;
  transition: all 0.2s;
}

.tabs .tab:focus {
  outline: none;
}

.tabs .tab:last-child {
  margin: 0;
}

.tabs .tab.active {
  color: var(--font-primary);
}

.lists {
  width: 100%;
  max-width: 100%;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 32px;
  background-color: var(--layer);
  overflow: hidden;
  transition: all 0.2s;
}

.list {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 0 24px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.4s;
}

.list.friend {
  padding: 0 64px 0 24px;
  background-image: var(--icon-link);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 24px;
}

.list.show {
  display: block;
}

.list-item {
  width: 100%;
  height: 64px;
  list-style: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--font-primary);
  transition: all 0.2s;
}

.list-item a {
  width: fit-content;
  max-width: 100%;
  display: inline-block;
  color: var(--font-link);
  line-height: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
}

.list-item small {
  padding: 0 0 0 16px;
  color: var(--font-secondary);
}

.list-item span,
.list-item time {
  color: var(--font-primary);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-item.small {
  width: 100%;
  color: var(--font-primary);
  font-size: 0.875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list.search {
  padding: 12px 64px 12px 12px;
}

.search-text {
  width: 100%;
  min-width: 200px;
  height: 40px;
  padding: 0 12px;
  border: none;
  border-radius: 40px 0 0 40px;
  outline: none;
  font-size: 0.875rem;
  font-family: inherit;
  color: var(--font-primary);
  background-color: transparent;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 0 0 64px 64px;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  background-image: var(--icon-search);
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

@media screen and (max-width: 1380px) {
  .showcase {
    width: 200px;
  }

  .showcase:hover {
    width: 288px;
  }
}

@media screen and (max-width: 1200px) {
  .showcase {
    left: 24px;
    width: 200px;
  }
}

@media screen and (max-width: 1080px) {
  .showcase {
    left: 24px;
    width: 288px;
  }
}

@media screen and (max-width: 900px) {
  .showcase {
    position: fixed;
    left: unset;
    top: unset;
    right: 12px;
    bottom: 76px;
    z-index: 1200;
    width: fit-content;
    height: auto;
    align-items: flex-end;
  }

  .tabs {
    position: fixed;
    right: 12px;
    bottom: 0px;
    z-index: 1200;
    background-color: transparent;
  }

  .lists {
    width: fit-content;
    background-color: var(--blur);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
  }
}
