section.showcase {
  position: relative;
  width: calc(100% + 24px);
  margin: 0 -12px 48px -12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    position: relative;
    width: 100%;
    margin: 0 0 24px 0;
    display: flex;
    flex-direction: row;
  }

  .card {
    width: 50%;
    margin: 0 12px;
    height: 240px;
    border-radius: 4px;
    background-color: #f5f5f5;

    &.sm {
      width: 25%;
    }

    &.lg {
      width: 75%;
    }

    &.xl {
      width: 100%;
    }
  }
}
