aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 30%;
  height: 100%;
  min-height: 100%;
  padding: 176px 72px 0 72px;
  display: flex;
  flex-direction: column;
  background: var(--background-1);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.4s;

  text-align: justify;
  text-justify: inter-ideograph;

  &::after {
    content: "";
    display: block;
    min-height: 56px;
  }

  @media (max-width: 1120px) {
    padding: 152px 48px 0 48px;

    &::after {
      min-height: 48px;
    }
  }

  @media (max-width: 824px) {
    width: 72px;
    padding: 72px 0 0 0;
    background: var(--background-1);
    overflow: hidden;
    pointer-events: none;

    &::after {
      min-height: 72px;
    }

    &.expand {
      width: calc(360px + 128px);
      padding: 72px 64px 0 136px;
      background-color: var(--background-1);
      box-shadow: none;
      overflow-x: hidden;
      overflow-y: auto;
      pointer-events: initial;

      &::after {
        min-height: 72px;
      }
    }
  }

  @media (max-width: 480px) {
    bottom: 0;
    top: unset;
    width: 100%;
    height: 0;
    min-height: unset;
    z-index: 3000;
    padding: 0 48px;
    background-color: var(--background-4);
    overflow: hidden;

    &::after {
      min-height: 0;
    }

    &.expand {
      width: 100%;
      height: calc(100% - 72px);
      padding: 48px 48px 0 48px;
      background-color: var(--background-0);

      &::after {
        min-height: 32px;
      }
    }
  }

  nav {
    max-width: 324px;

    &:hover {
      max-width: unset;
    }

    @media (max-width: 824px) {
      width: 100%;
      min-width: calc(360px - 36px - 36px);
      max-width: unset;
    }

    p,
    li {
      display: flex;
      flex-direction: column;
      list-style: none;
      white-space: nowrap;
    }

    a {
      width: fit-content;
      max-width: 100%;
      color: var(--font-secondary);
      line-height: 2rem;
      padding: 3px 0;
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      white-space: nowrap;
      word-break: keep-all;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all 0.2s;
    }

    code,
    code[class*="language-"] {
      width: 100%;
      color: var(--font-secondary);
      background-color: transparent;
      font-size: 1rem;
      border-radius: 4px;
      font-family: var(--font-mono);
      white-space: nowrap;
      transition: all 0.2s;
    }

    a:hover,
    a:active,
    a:focus {
      color: var(--font-primary);

      code,
      code[class*="language-"] {
        color: var(--font-code);
      }
    }

    @media (max-width: 480px) {
      a {
        color: var(--font-primary);
      }

      code,
      code[class*="language-"] {
        color: var(--font-code);
      }
    }
  }

  nav > ul > li > a,
  nav > ul > li > p {
    font-weight: bold;
    display: none;
    margin: 0 1rem 1rem 0;

    a {
      word-break: break-word;
      white-space: pre-wrap;
      overflow: auto;
    }
  }

  nav > ul > li > p > a {
    padding: 0;
  }

  nav > ul,
  nav > ul > li > ul {
    padding-left: 0;
  }
  nav ul ul ul a {
    font-weight: normal;
    vertical-align: middle;

    &::before {
      content: " ";
      position: relative;
      width: 1.5rem;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
      color: transparent;
    }
  }

  section {
    @media (max-width: 824px) {
      width: 100%;
      min-width: calc(360px - 36px - 36px);
    }

    @media (max-width: 480px) {
      width: 100%;
      min-width: unset;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      margin: 1rem 0;
      font-size: 1rem;
      line-height: 2rem;
    }

    a {
      color: var(--font-link);
      transition: all 0.2s;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        color: var(--font-link-hover);
        text-decoration: underline from-font;
        text-underline-offset: 6px;
      }
    }
  }
}

.about {
  position: relative;
  z-index: 200;
  max-width: unset;
  padding: 0;
  color: var(--font-primary);
  background-color: transparent;
  flex: unset;
  word-break: normal;
  transition: all 0.2s;

  h3 {
    padding: 1rem 0 0 0;
    line-height: 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;

    svg {
      min-width: 16px;
      min-height: 16px;
      margin: 2px 6px 2px 1px;
      vertical-align: middle;
      fill: var(--font-primary);
      opacity: 1;
      transition: all 0.2s;
    }
  }

  h3:first-of-type {
    padding: 0;
  }

  p {
    vertical-align: baseline;
  }

  ul {
    padding: 0 0 0 1.5rem;
    color: var(--font-primary);

    li {
      padding: 0px 0px 0px 0.25rem;
    }

    a {
      line-height: 2rem;
    }
  }

  .link-card {
    position: relative;
    width: calc(100% + 12 * 2px);
    margin: 16px -12px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 2px var(--border-1);
    border-radius: 4px;
    background-color: transparent;
    opacity: 1;
    font-size: 1rem;
    line-height: 2rem;
    outline: none;
    text-decoration: none;
    transition: all 0.2;

    &:first-of-type {
      margin-top: 24px;
    }

    span {
      opacity: 1;
      color: var(--font-primary);

      svg {
        margin: 0 0.875rem 0 0;
        fill: var(--font-primary);
        transition: all 0.2s;
        opacity: 1;
      }
    }

    @media (min-width: 769px) {
      span {
        color: var(--font-secondary);

        svg {
          opacity: 0.6;
          transition: all 0.2s;
        }
      }
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      border: solid 2px var(--font-link);
    }

    .title {
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 769px) {
    max-width: 324px;
    flex: 1;
    color: var(--font-secondary);
    padding: 0;

    h3 svg,
    .link-card svg {
      opacity: 0.6;
      transition: all 0.2s;
    }

    a,
    .link-card span {
      color: var(--font-secondary);
      transition: all 0.2s;
    }

    &:hover {
      color: var(--font-primary);
      transition: all 0.2s;

      h3 svg,
      .link-card svg {
        opacity: 1;
      }

      a {
        color: var(--font-link);
        transition: all 0.2s;
      }

      .link-card span {
        color: var(--font-primary);
      }

      span {
        opacity: 1;
        transition: all 0.2s;
      }
    }
  }
}

.sidebar-nav {
  margin: 0 0 48px 0;

  @media (max-width: 824px) {
    display: none;
  }

  svg {
    margin: 0 12px 0 0;
  }

  .back-home {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0;
  }
}
