:root {
  --background-0: #ffffff;
  --background-1: #f5f5f5;
  --background-2: #eeeeee;
  --border-0: #f5f5f5;
  --border-1: #eeeeee;
  --font-primary: #000000;
  --font-secondary: #616161;
  --font-code: #212121;
  --font-link: #304ffe;
  --font-link-hover: #6200ea;

  --warn: #fdd835;

  @media (prefers-color-scheme: dark) {
    --background-0: #202020;
    --background-1: #181818;
    --background-2: #2c2c2c;
    --border-0: #2c2c2c;
    --border-1: #383838;
    --font-primary: #f5f5f5;
    --font-secondary: #bdbdbd;
    --font-code: #eeeeee;
    --font-link: #2196f3;
    --font-link-hover: #03a9f4;
  }
}
