---
import Icon from '@components/ui/Icon.astro'
import { Image } from 'astro:assets'

export interface Props {
  src: string
  alt: string
  caption?: boolean
  cover?: boolean
}
const { src, alt, caption, cover } = Astro.props
---

<figure class={cover ? 'cover' : ''} flex="~ col gap-3">
  <Image
    class={cover
      ? 'cover aspect-3/2 md:aspect-video object-t object-cover'
      : ''}
    {src}
    {alt}
    width="1920"
    height="1080"
    loading="lazy"
    w="full"
    border="main 1"
    shadow="lg hover:xl"
    rounded="md"
    transition="shadow"
  />
  {
    caption && (
      <figcaption
        flex="~ row gap-1.5 justify-right"
        text="xs secondary"
        font="leading-5"
        transition="colors"
      >
        <Icon
          class="my-0.25"
          name="图片说明"
          icon="i-ri:arrow-up-s-line"
          size="4"
        />
        <span>{alt}</span>
      </figcaption>
    )
  }
</figure>
