---
import Link from '@components/ui/Link.astro'
import { links } from '@libs/configs'
---

<footer
  class:list={[
    'px-6 sm:px-8 py-6',
    'flex justify-between items-center gap-x-4 gap-y-2 flex-wrap',
    'overflow-hidden',
  ]}
>
  {
    links.map(section => (
      <section class:list={['flex items-center gap-x-4 gap-y-2 flex-wrap']}>
        {section.map(link => (
          <Link href={link.href} name={link.name} class="text-xs sm:text-sm" />
        ))}
      </section>
    ))
  }
</footer>
