---
import Button from '@components/notebook/ui/Button.astro'

const navs = [
  { name: '文章', icon: 'i-ic-round-menu-book' },
  { name: '专题', icon: 'i-ic-round-question-answer' },
  { name: '存档', icon: 'i-ic-round-inbox' },
  { name: '朋友', icon: 'i-ic-round-travel-explore' },
]
---

<nav
  pos="fixed right-0 bottom-0 lg:left-0 lg:right-unset lg:bottom-unset lg:top-1/2 z-99999"
  transform="none lg:~ lg:translate-y--1/2"
>
  <ul p="6 b-8 sm:b-6" flex="~ col gap-3 md:gap-4 items-end lg:items-start">
    {
      navs.map(({ name, icon }) => (
        <li>
          <Button {name} {icon} href={`/#${name}`} />
        </li>
      ))
    }
  </ul>
</nav>
