---
import Action from '../ui/Action.astro'

export interface Props {
  name?: string
  icon?: string
  type?: 'card' | 'grid' | 'list'
  action?: {
    href: string
    icon: string
    name: string
  }
}

const { name, type, action, icon } = Astro.props
---

<section w="full" max-w="2xl" flex="~ col gap-6">
  {
    name && (
      <div flex="~ row items-center justify-between">
        <h2
          id={name}
          text="xl"
          font="900"
          flex="~ row gap-3 items-center"
          p="x-2 sm:x-0"
        >
          {icon && <span class={icon} w="6" h="6" text="main" />}
          <span>{name}</span>
        </h2>

        {action && (
          <div m="r--0 sm:r--2 y--2.5">
            <Action {...action} />
          </div>
        )}
      </div>
    )
  }

  {
    type === 'card' ? (
      <div w="full" border="~ 1 color-line" bg="muted" shadow="lg" rounded="md">
        <slot />
      </div>
    ) : type === 'grid' ? (
      <div w="full" grid="~ cols-1 sm:cols-2 gap-8 sm:gap-4">
        <slot />
      </div>
    ) : (
      <div w="full" flex="~ col gap-4">
        <slot />
      </div>
    )
  }
</section>
