---
import Base from '@components/layouts/Base.astro'
import NavBar from '@components/layouts/NavBar.astro'

export interface Props {
  title?: string
  description?: string
  color?: string
  favicon?: string
  type?: 'paper' | 'notebook'
}

const {
  title = '记录干杯',
  description = '个人网站「记录干杯」，在这里记录一些技术相关的文章、尝试一些新的技术。',
  color = '#feec44',
  favicon = '/favicon.svg',
  type = 'paper',
} = Astro.props
---

<Base>
  <Fragment slot="head">
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href={favicon} />
    <meta name="theme-color" content={color} />
  </Fragment>

  {
    type === 'paper' && (
      <Fragment slot="body">
        <main class="w-screen h-screen flex flex-col items-center justify-center">
          <slot />
        </main>
      </Fragment>
    )
  }

  {
    type === 'notebook' && (
      <Fragment slot="body">
        <div class="relative w-screen min-h-screen grid grid-cols-[20rem_1fr]">
          <NavBar />

          <main class="relative w-full flex flex-row items-start bg-white dark:bg-dark-800 shadow-xl">
            <div class="w-full max-w-2xl flex-1">
              <slot name="main" />
            </div>
            <aside class="sticky top-0 w-full max-w-sm flex flex-row items-start h-screen overflow-y-auto scrollbar-none">
              <slot name="side" />
            </aside>
          </main>
        </div>
      </Fragment>
    )
  }
</Base>
