---
import Layout from '../../components/Layout.astro'
---

<Layout
  title="时间之外"
  description=""
  favicon="/lab/favicon.svg"
  color="#f8584f"
>
  <div flex="~ 1 items-center justify-center" p="b-4">
    <h1 text="2xl" font="800" select="none">时间之外</h1>
  </div>
</Layout>
