---
import Layout from '../../components/lab/Layout.astro'
---

<Layout
  title="微信公众号"
  description="一个自己的微信公众号，目前并没有什么内容。"
>
  <main w="full" flex="~ 1 col">
    <figure flex="~ col 1 items-center justify-center gap-4" p="4">
      <img
        src="/wechat.svg"
        alt="微信公众号"
        w="full"
        max-w="120"
        filter="drop-shadow-xl dark:brightness-85"
        select="none"
      />
      <figcaption text="subtle">微信公众号「记录干杯」</figcaption>
    </figure>
  </main>
</Layout>
