---
import Button from '@components/ui/Button.astro'
import Popover from '@components/ui/Popover.astro'
import type { ContentItems } from 'types'
import ContentLinkItem from './links/ContentLinkItem.astro'
import Icon from '@components/ui/Icon.astro'
import TitleBar from '@components/ui/popover/TitleBar.astro'
import TitleBarLink from '@components/ui/popover/TitleBarLink.astro'

export interface Props {
  contents?: ContentItems
}
const { contents } = Astro.props
const index = contents?.filter(({ depth }) => depth !== 1)
const title = contents?.filter(({ depth }) => depth === 1)[0]?.text
---

<Popover align="right">
  <Button slot="action" type="icon" name="索引" icon="i-ri:file-list-line" />

  <div slot="content" h="full" max-h="72vh" min-h="72" flex="~ col">
    <TitleBar name={title || '目录'} />

    {
      index && index.length > 0 ? (
        <ul class="scroll-smooth" overflow="y-auto" scrollbar="thin">
          {index.map(({ text, slug, depth }) => (
            <ContentLinkItem {text} {slug} {depth} />
          ))}
        </ul>
      ) : (
        <div flex="~ 1 col items-center justify-center gap-2" rounded="~">
          <Icon
            icon="i-ri:hashtag"
            color="secondary"
            size="12"
            name="没有目录"
          />

          <span text="sm secondary" transition="colors" m="b-8">
            没有目录
          </span>
        </div>
      )
    }
  </div>
</Popover>
