---
import Layout from '../components/Layout.astro'
---

<Layout title="找不到页面" description="你要找的页面也许并不存在。">
  <div flex="~ 1 items-center justify-center" p="b-4">
    <h1 text="48" font="sans 800" select="none">404</h1>
  </div>
</Layout>
