---
import Layout from '@components/notebook/Layout.astro'

const title = '找不到页面'
const description = '你要找的页面也许并不存在。'
const error = 404

export const prerender = true
---

<Layout {title} {description}>
  <main
    h="screen"
    flex="~ col items-center justify-center gap-3"
    p="8"
    select="none"
  >
    <code
      class=""
      font="black mono"
      text="8xl transparent"
      bg="clip-text"
      bg-gradient="linear shape-br from-yellow-300 to-yellow-500"
      filter="drop-shadow-xl"
    >
      {error}
    </code>
    <h1 text="2xl" font-extrabold>{title}</h1>
  </main>
</Layout>
