---
import Layout from '../components/Layout.astro'
---

<Layout title="服务器出错" description="应该是服务器出了问题，等会再试试吧。">
  <div flex="~ 1 items-center justify-center" p="b-4">
    <h1 text="48" font="sans 800" select="none">500</h1>
  </div>
</Layout>
