---
import Layout from '../components/Layout.astro'
---

<Layout
  title="代码可行"
  description=""
  favicon="/dev/favicon.svg"
  color="#29b7f7"
  path="/dev"
>
  <div flex="~ 1 items-center justify-center" p="b-4">
    <h1 text="2xl" font="800" select="none">代码可行</h1>
  </div>
</Layout>
