* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-padding-top: 16px;

  @media (max-width: 480px) {
    scroll-padding-top: 84px;
  }
}

body {
  position: relative;
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.875;
  transition: all 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

.top-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--font-primary);
  text-align: center;
  background-color: #ffeb3b;
}

.medium-zoom-overlay,
.medium-zoom-image.medium-zoom-image--opened {
  z-index: 800;
}
