---
import Layout from '../components/Layout.astro'
import Section from '../components/layout/Section.astro'

import Friends from '../components/dashboard/Friends.astro'
import Links from '../components/dashboard/Links.astro'
import Articles from '../components/dashboard/lists/Articles.astro'
import Stories from '../components/dashboard/lists/Stories.astro'
import Wallpapers from '../components/dashboard/wallpapers/Wallpapers.astro'

export const prerender = true
---

<Layout>
  <div w="full" flex="~ 1 col items-center justify-start gap-6 sm:gap-8" p="4">
    <Section>
      <Wallpapers />
    </Section>

    <Section
      name="文章"
      icon="icon-tabler:book"
      action={{
        href: '/article',
        icon: 'icon-tabler:list-search',
        name: '更多文章',
      }}
    >
      <Articles limit={2} />
    </Section>

    <Section
      name="专题"
      icon="icon-tabler:message-2"
      action={{
        href: '/story',
        icon: 'icon-tabler:message-2-search',
        name: '更多专题',
      }}
    >
      <Stories limit={2} />
    </Section>

    <Section type="grid">
      <Section
        name="朋友"
        icon="icon-tabler:circles-relation"
        action={{
          href: 'mailto:liangfengning@foxmail.com',
          icon: 'icon-tabler:mail',
          name: '邮件联系',
        }}
      >
        <Friends />
      </Section>

      <Section
        name="更多"
        icon="icon-tabler:apps"
        action={{
          href: '/lab/wechat',
          icon: 'icon-tabler:at',
          name: '微信公众号',
        }}
      >
        <Links />
      </Section>
    </Section>
  </div>
</Layout>
../components/dashboard/Time
