---
import Layout from '../components/Layout.astro'
import type { ArchivedArticleFrontmatter } from '../types.d'

const files = await Astro.glob<ArchivedArticleFrontmatter>(
  '../../notebook/存档/**/*.md'
)
const articles = files.sort(
  (a, b) =>
    new Date(b.frontmatter['create-date']).getTime() -
    new Date(a.frontmatter['create-date']).getTime()
)

const formatter = (str: string) => {
  const date = new Date(str)
  return `${date.getFullYear()} 年 ${
    date.getMonth() + 1
  } 月 ${date.getDate()} 日`
}
---

<Layout>
  <!-- <ul class="w-full max-w-2xl">
    {
      articles.map(({ frontmatter }) => (
        <li class="divider-color stack-col w-full gap-2 border-b-2 py-8">
          <time class="font-bold">{formatter(frontmatter['create-date'])}</time>
          <a class="text-underline" href={`/articles/${frontmatter['name']}`}>
            <h2 class="text-xl font-bold">{frontmatter['title']}</h2>
          </a>
          <p class="leading-7">{frontmatter['description']}</p>
          <section class="stack-row items-center justify-between pt-4">
            <code class="text-secondary"># {frontmatter['name']}</code>
            <a
              class="text-secondary text-underline w-fit font-bold"
              href={`/articles/${frontmatter['name']}`}
            >
              查看全文 -&gt;
            </a>
          </section>
        </li>
      ))
    }
  </ul> -->
</Layout>
