---
import Layout from '../components/Layout.astro'
import Section from '../components/base/Section.astro'
import Apps from '../components/dashboard/Apps.astro'
import Articles from '../components/dashboard/Articles.astro'
import Links from '../components/dashboard/Links.astro'
import Stories from '../components/dashboard/Stories.astro'

export const prerender = true
---

<Layout>
  <div w="full" flex="~ 1 col items-center justify-start gap-6 sm:gap-8" p="4">
    <Section>
      <div
        w="full"
        h="72"
        flex="~ col items-center justify-center"
        border="~ 1 color-line"
        bg="muted"
        rounded="md"
      >
      </div>
    </Section>

    <Section
      name="文章"
      icon="icon-tabler:book"
      action={{
        href: '/article',
        icon: 'icon-tabler:arrow-right',
        name: '更多文章',
      }}
    >
      <Articles limit={2} />
    </Section>

    <Section
      name="专题"
      icon="icon-tabler:message-2"
      action={{
        href: '/story',
        icon: 'icon-tabler:arrow-right',
        name: '更多专题',
      }}
    >
      <Stories limit={2} />
    </Section>

    <Section type="grid">
      <Section name="朋友" icon="icon-tabler:circles-relation">
        <Links />
      </Section>

      <Section
        name="更多"
        icon="icon-tabler:apps"
        action={{
          href: 'mailto:liangfengning@foxmail.com',
          icon: 'icon-tabler:mail',
          name: '邮件联系',
        }}
      >
        <Apps />
      </Section>
    </Section>
  </div>
</Layout>
