---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import List from '@components/notebook/List.astro'
import Notebook from '@components/notebook/Notebook.astro'
import Drawer from '@components/notebook/header/Drawer.astro'
import Nav from '@components/notebook/header/Nav.astro'
import { getCollection } from 'astro:content'

const articles = (await getCollection('文章'))
  .map(({ data }) => data)
  .filter(({ hide, draft }) => !hide && (import.meta.env.DEV || !draft))
  .sort((a, b) => b.date.created.getTime() - a.date.created.getTime())

const contents = [
  ...articles.filter(({ star }) => star),
  ...articles.filter(({ star }) => !star),
]
---

<Notebook>
  <Header blur>
    <Nav slot="left" name="文章" />
    <Drawer slot="right" />
  </Header>
  <main
    id="~"
    flex="~ 1 col items-center"
    p="x-5 t-16 b-10"
    transition:animate="fade"
  >
    <List name="文章" type="article" {contents} />
  </main>
  <Footer />
</Notebook>
