---
import Layout from '../components/Layout.astro'
import Section from '../components/base/Section.astro'
import Archives from '../components/dashboard/archives/Archives.astro'

export const prerender = true
---

<Layout>
  <div w="full" flex="~ 1 col items-center justify-start gap-6 sm:gap-8" p="4">
    <Section name="你好" />
    <Section name="文章" />
    <Section name="专题" />
    <Section name="存档">
      <Archives />
    </Section>
  </div>
</Layout>
