---
import Layout from '@components/notebook/Layout.astro'
import Friends from '@components/notebook/app/Friends.astro'
import Footer from '@components/notebook/layout/Footer.astro'
import Header from '@components/notebook/layout/Header.astro'
import Nav from '@components/notebook/layout/Nav.astro'
import Card from '@components/notebook/ui/Card.astro'

import { format } from '@libs/utils'
import { getCollection } from 'astro:content'

// 文章
const articles = (await getCollection('文章'))
  .map(({ data }) => data)
  .filter(({ draft }) => import.meta.env.DEV || !draft)
  .sort((a, b) => b.date.created.getTime() - a.date.created.getTime())

// 存档
const archives = (await getCollection('存档'))
  .map(({ data, ...props }) => ({
    ...props,
    data: { ...data, ...format(data) },
  }))
  .map(({ data }) => data)
  .filter(({ draft }) => import.meta.env.DEV || !draft)
  .sort((a, b) => b.date.created.getTime() - a.date.created.getTime())

// 专题
const stories = (await getCollection('专题'))
  .map(({ data }) => data)
  .filter(({ draft }) => import.meta.env.DEV || !draft)
  .sort((a, b) => b.date.created.getTime() - a.date.created.getTime())

const sections = [
  { name: '文章', type: '文章', suffix: ' 篇文章', items: articles },
  { name: '专题', type: '专题', suffix: ' 个专题', items: stories },
  { name: '存档', type: '文章', suffix: ' 篇已存档文章', items: archives },
] as const
---

<Layout>
  <Header slot="header" />
  <Nav slot="nav" />
  <Footer slot="footer" />
  <main p="x-6 y-2" w="full" max-w="2xl" m="x-auto" flex="~ col gap-8">
    {
      sections.map(
        ({ name, type, suffix, items }) =>
          items.length > 0 && (
            <section flex="~ col gap-4">
              <h2 id={name} class="scroll-mt-4" text="subtle">
                {items.length} {suffix}
              </h2>
              <ul flex="~ col gap-6">
                {items.map((item, i) => (
                  <li w="full" flex="~ col gap-6">
                    <Card {type} {...item} />
                    {name === '存档' && items.length !== i + 1 && (
                      <span w="full" h="0" flex="~" border="b-1 main" />
                    )}
                  </li>
                ))}
              </ul>
            </section>
          )
      )
    }
    <Friends />
  </main>
</Layout>
