.screen {
  position: relative;
  background-color: var(--background);

  .container {
    position: relative;
    width: 100%;
    max-width: 82rem;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;

    aside {
      position: relative;
      width: 26rem;
      padding: 3rem 4rem;
    }

    main {
      position: relative;
      width: calc(100% - 26rem);
      padding: 3rem 4rem 3rem 0;
    }
  }

  &.article {
    background-color: var(--surface);

    .container {
      max-width: unset;
      display: flex;
      flex-direction: column;
    }

    main {
      width: 100%;
      padding: 3rem 4rem;
      display: flex;
      justify-content: center;
      box-shadow: var(--shadow-normal);
    }

    aside {
      margin: 0;
      padding: 1.25rem 0 1.25rem 4rem;
    }
  }

  &.error {
    main {
      padding: 6rem 0 3rem 0;
    }
  }
}
