---
import Layout from '../components/Layout.astro'
---

<Layout
  title="越过长城"
  description=""
  favicon="/server/favicon.svg"
  color="#40d583"
  path="/server"
>
  <div flex="~ 1 items-center justify-center" p="b-4">
    <h1 text="2xl" font="800" select="none">越过长城</h1>
  </div>
</Layout>
