:root {
  --card-background: #f6f8fa;
  --toc-background: #f6f8fa;
  --header-background: #f6f8fa;
  --header-button-background: #f6f8fa;
  --header-button-background-hover: #f2f5f8;
  --main-background: #ffffff;
  --article-background: #ffffff;
  --article-block-background: #f6f8fa;
  --article-code-background: #f6f8fa;

  --popover-color: #ffffff;
  --popover-background: #181a1c;
  --popover-background-hover: #1e2022;
  --border: solid 1px #e6eaee;
  --border-block: solid 0.125rem #f2f5f8;
  --border-block-color: #f2f5f8;

  --font-primary: #282828;
  --font-secondary: #67707a;
  --font-light: #e6eaee;
  --font-link: #0366d6;
  --font-link-hover: #065bbd;

  --shadow-normal: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.01);
  --shadow-hover: 0 0.5rem 2rem rgba(0, 0, 0, 0.06);

  --main-width: 45rem;
  --message-width: 36rem;

  --svg-invert: 0;

  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-sans: "Inter", -apple-system, "Source Han Sans SC", "Source Han Sans",
    "Noto Sans SC", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif,
    var(--font-emoji);
  --font-serif: "Source Han Serif SC", "Source Han Serif", "Noto Serif SC",
    "Noto Serif", Georgia, "Times New Roman", Times, "Droid Serif", serif,
    var(--font-emoji);
  --font-mono: "JetBrains Mono", "Fira Mono", Consolas, var(--font-sans);

  font-size: 18px;

  @media (prefers-color-scheme: dark) {
    --card-background: #16181a;
    --toc-background: #16181a;
    --header-background: #16181a;
    --header-button-background: #16181a;
    --header-button-background-hover: #181a1c;
    --main-background: #121416;
    --article-background: #121416;
    --article-block-background: #16181a;
    --article-code-background: #16181a;

    --border: solid 1px #1a1e1f;
    --border-block: solid 0.125rem #181a1c;
    --border-block-color: #181a1c;

    --font-primary: #d1d5da;
    --font-secondary: #8b949e;
    --font-light: #30363d;
    --font-link: #58a6ff;
    --font-link-hover: #71b4ff;

    --svg-invert: 0.85;

    --shadow-normal: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.02);
    --shadow-hover: 0 0.5rem 2rem rgba(0, 0, 0, 0.12);
  }
}
