---
export interface Props {
  title?: string
  emoji?: string
}

const { title, emoji } = Astro.props as Props
---

<article data-container>
  {title && <h1 data-emoji={emoji}>{title}</h1>}
  <slot />
</article>

<style lang="less" global>
  article[data-container] {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: var(--font-sans);
    line-height: 1.875;

    h1 {
      font-weight: var(--font-bold);
      text-justify: none;
      text-align: left;
      margin: 0 0 4rem 0;
      font-size: 1.875rem;
      line-height: 1.75;

      &::before {
        content: attr(data-emoji);
        margin-right: 1rem;
        margin-left: -0.125rem;
        font-weight: var(--font-normal);

        @media (max-width: 28rem) {
          margin-left: 0;
        }
      }

      @media (max-width: 36rem) {
        font-size: 1.75rem;
      }

      @media (max-width: 28rem) {
        margin: 0 0 3rem 0;
        font-size: 1.625rem;
      }
    }

    p {
      margin: 0.5rem 0;

      @media (max-width: 28rem) {
        span[data-optional] {
          display: none;
        }
      }
    }

    strong {
      font-weight: var(--font-bold);
    }
  }
</style>
