---
const production = import.meta.env.PROD
---

{
  !production && (
    <section
      w="full"
      p="1.5"
      bg="yellow-400"
      text="dark-900 xs"
      font="bold"
      flex="~ items-center justify-center"
    >
      网站正在重新设计中，部分功能和内容还没完成。
    </section>
  )
}
