---
import { links } from '@libs/consts'
---

<footer
  w="full"
  p="6 b-7 sm:b-6"
  flex="~ col md:row md:items-center gap-2 md:gap-4 md:justify-between"
>
  {
    links.map(group => (
      <section flex="~ col sm:row sm:items-center gap-2 sm:gap-4">
        {group.map(({ href, name }) => (
          <a
            {href}
            target="_blank"
            rel="nofollow noopener noreferrer"
            w="fit"
            text="sm secondary hover:link truncate"
            underline="none hover:~ from-font hover:offset-4"
            transition="colors"
          >
            {name}
          </a>
        ))}
      </section>
    ))
  }
</footer>
