---
import Friends from '@components/base/actions/Friends.astro'
import Navs from '@components/base/actions/Navs.astro'
import TableOfContents from '@components/base/actions/TableOfContents.astro'
import { infos } from '@libs/consts'
import type { ContentItems, NavLinks } from 'types'

export interface Props {
  name?: string
  action?: '更多' | '目录'
  links?: NavLinks
  contents?: ContentItems
}

const { action, name = infos.title, links, contents } = Astro.props
---

<header
  class="backdrop-blur md:backdrop-blur-none"
  pos="fixed top-0 left-0"
  w="full"
  p="x-3 md:x-4 y-4 md:b-0"
  flex="~ row items-start justify-between"
  bg="white/60 dark:dark-800/60 md:transparent"
  pointer-events="none"
>
  <section flex="~">
    <Navs {name} {links}>
      <slot name="nav">
        {
          (!links || links.length === 0) && (
            <div
              w="full"
              h="18"
              p="b-3"
              flex="~ col items-center justify-center"
              rounded="~"
              transition="colors"
            >
              <span text="xs secondary" font="mono">
                undefined
              </span>
            </div>
          )
        }
      </slot>
    </Navs>
  </section>
  <section flex="~ gap-4">
    {action === '更多' && <Friends />}
    {action === '目录' && <TableOfContents {contents} />}
  </section>
</header>
