---
export interface Props {
  title?: string
  favicon?: string
  index?: boolean
}

import Tooltip from '../ui/Tooltip.astro'
import Nav from './Nav.astro'

const { title, favicon, index } = Astro.props
---

<header w="full" flex="~ row items-center justify-between gap-4" p="6" z="100">
  <h1
    flex="~ row items-center gap-4"
    p="x-0 sm:x-2"
    text="lg"
    font="900"
    line-height="none"
  >
    <Tooltip content={title === '记录干杯' ? '主页' : '回到主页'} circle extend>
      <a
        href="/"
        position="relative"
        flex="~ items-center justify-center"
        w="9"
        h="9"
        rounded="full"
        outline="~ none focus-visible:(4 yellow offset-0)"
        filter="~ drop-shadow-none group-hover:drop-shadow-xl"
        transition="filter"
      >
        <div
          class={`${
            title === '记录干杯' ? 'icon-tabler:home' : 'icon-tabler:arrow-left'
          } op-0 group-hover:op-100 group-focus-within:op-100`}
          position="absolute"
          z="10"
          left="1/2"
          top="1/2"
          w="5"
          h="5"
          text="light"
          transform="~ translate-x--1/2 translate-y--1/2 scale-99 group-hover:scale-100 group-focus-within:scale-100"
          transition="all"
        >
        </div>
        <img
          src={favicon}
          alt={title}
          w="9"
          h="9"
          pointer-events="none"
          rounded="full"
          select="none"
        />
      </a>
    </Tooltip>

    <span>{index ? '记录干杯' : title}</span>
  </h1>
  <Nav />
</header>
