---
import Action from '../ui/Action.astro'

const navs = [
  { name: '随笔', href: '/life', icon: 'icon-tabler:note' },
  {
    name: 'GitHub',
    href: 'https://github.com/Lifeni',
    icon: 'icon-tabler:brand-github',
  },
  {
    name: '开往',
    href: 'https://travellings.link/',
    icon: 'icon-tabler:route',
  },
]

export interface Props {
  theme?: 'paper' | 'main'

}
const { theme } = Astro.props
---

<nav flex="~ row items-center gap-2 sm:gap-3" p="sm:x-2">
  {navs.map(nav => <Action {...nav} theme={theme} />)}
</nav>
