---
export interface Props {
  article: Article
  key: 'date' | 'create-date'
}

const { article, key } = Astro.props as Props

const formatter = (article: Article) =>
  `创建时间：${article['create-date'].slice(0, 10)}
修改时间：${article['date'].slice(0, 10)}`
---

<li>
  <a href={`/article/${article.name}`}>
    <time title={formatter(article)}>
      {article[key].slice(5, 7)}
      <span>/</span>
      {article[key].slice(8, 10)}
    </time>
    <h3 title={article.description}>{article.title}</h3>
  </a>
</li>

<style lang="less">
  li {
    width: 100%;
    list-style: none;

    a {
      width: 100%;
      padding: 0.25rem 0.75rem;
      display: flex;
      align-items: center;
      color: var(--font-primary);
      border-radius: var(--border-radius);
      border: solid var(--border-width) var(--card-background);
      gap: 1.5rem;

      time {
        display: flex;
        color: var(--font-secondary);
        font-family: var(--font-mono);
      }

      h3 {
        font-size: 1rem;
        font-weight: var(--font-normal);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &:after {
        content: '->';
        font-family: var(--font-mono);
        color: var(--font-secondary);
        margin-left: auto;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-0.5rem);
        transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
        white-space: nowrap;

        @media (max-width: 36rem) {
          display: none;
        }
      }

      &:hover,
      &:focus-visible {
        z-index: 1;
        text-decoration: none;
        border: var(--border);
        background-color: var(--card-background-focus);
        outline-offset: 0;

        &:after {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
    }
  }
</style>
