---
import { Icon } from 'astro-icon'
---

<form method="GET" action="https://www.google.com/search">
  <input type="hidden" name="q" value="site:lifeni.life" />
  <input type="search" name="q" placeholder="使用 Google 搜索文章 ..." />
  <Icon name="tabler:search" aria-hidden />
</form>

<style lang="less">
  form {
    position: relative;
    width: calc(100% + var(--extra-margin) * 2);
    margin: 3rem calc(var(--extra-margin) * -1) 0;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: var(--card-background);

    @media (max-width: 36rem) {
      margin: 2.5rem calc(var(--extra-margin) * -1) 0;
    }

    @media (max-width: 28rem) {
      margin: 1rem calc(var(--extra-margin) * -1) 0;
    }

    input {
      width: 100%;
      padding: 1rem 1.5rem;
      border: none;
      color: var(--font-primary);
      border-radius: var(--border-radius);
      background-color: var(--card-background);
      font-size: 1rem;
      font-family: inherit;
      font-weight: inherit;

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline-color: var(--font-link);
        outline-width: 0.25rem;
        outline-offset: 0;
        outline-style: solid;

        & + svg {
          display: none;
        }
      }

      &::placeholder {
        color: var(--font-secondary);
      }
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      margin: 1rem 1.5rem;
      width: 1.25rem;
      height: 1.25rem;
      color: var(--font-secondary);
      pointer-events: none;
    }
  }
</style>
