---
import Main from '@components/layout/Main.astro'
import Layout from '@components/notebook/Layout.astro'
import StoryCard from '@components/notebook/story/StoryCard.astro'
import { getCollection } from 'astro:content'
import dayjs from 'dayjs'

const stories = await getCollection('专题')
---

<Layout name="专题">
  <Main class:list={['p-4 sm:px-6 sm:py-4']}>
    <ul
      class:list={[
        'w-full max-w-148',
        'mx-auto my-0 p-0',
        'grid grid-cols-2 gap-4',
      ]}
    >
      {
        stories
          .map(story => story.data)
          .filter(story => import.meta.env.DEV || !story.draft)
          .sort(
            (a, b) =>
              dayjs(b.date.updated).unix() - dayjs(a.date.updated).unix(),
          )
          .map(story => <StoryCard story={story} />)
      }
    </ul>
  </Main>
</Layout>
