---
import { unify } from '../../../libs/utils'
import type { Archive, Article } from '../../../types'

const articles = await Astro.glob<Article>('../../../notebook/文章/*.mdx')
const archives = unify(
  await Astro.glob<Archive>('../../../notebook/存档/**/*.md')
)

const cards = [
  {
    name: '所有',
    content: articles.length + archives.length,
    icon: 'icon-tabler:notebook',
  },
  { name: '文章', content: articles.length, icon: 'icon-tabler:book' },
  { name: '存档', content: archives.length, icon: 'icon-tabler:archive' },
  {
    name: '草稿',
    content: articles.filter(a => a.frontmatter.draft).length,
    icon: 'icon-tabler:markdown',
  },
]
---

<div w="full" grid="~ cols-2 xs:cols-4 gap-4">
  {
    cards.map(({ name, content, icon }) => (
      <div
        position="relative"
        flex="~ col items-start"
        w="full"
        p="x-5 y-3"
        border="~ 1 color-line"
        rounded="md"
        bg="muted"
        shadow="lg"
        overflow="hidden"
      >
        <div w="full" flex="~ row items-center justify-between gap-2">
          <h2 text="sm subtle" font="700" leading="7">
            {name}
          </h2>
          <span
            class={icon}
            position="absolute"
            right="-6"
            bottom="-6"
            w="20"
            h="20"
            text="icon"
          />
        </div>

        <span text="2xl" font="700">
          {content}
        </span>
      </div>
    ))
  }
</div>
