.post {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--font-primary);
  transition: all 0.2s;

  @media (max-width: 864px) {
    transition: all 0.4s;
  }

  @media (max-width: 480px) {
    padding: 24px 0;
  }

  &.hide {
    display: none;
    visibility: hidden;
  }

  a {
    position: relative;
    width: fit-content;
    max-width: 100%;
    display: flex;
    text-decoration: none;
  }

  .title {
    position: relative;
    width: fit-content;
    max-width: 100%;
    padding: 0.25rem 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: var(--font-primary);
    transition: all 0.2s;
    word-break: normal;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: 480px) {
      font-size: 1.375rem;
      line-height: 2.25rem;
    }

    &:focus-visible {
      outline: solid 2px var(--font-link);
    }
  }

  .bar {
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      margin: 0 1rem 0 0;
    }

    span {
      margin: 0 1.5rem 0 0;
      display: flex;
      align-items: center;
      color: var(--font-secondary);

      svg {
        fill: var(--font-secondary);
        margin: 0 0.5rem 0 0;
      }
    }

    section {
      margin: 0 0.5rem 0 0;
      display: flex;
      align-items: center;

      svg {
        fill: var(--font-secondary);
      }
    }
  }

  .date {
    margin: 0 1rem 0 0;
    padding: 0 1px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    white-space: nowrap;
    transition: all 0.2s;
  }

  .description {
    width: 100%;
    margin: 0 0 0.5rem 0;
    padding: 0;

    li {
      width: 100%;
      overflow: hidden;
      word-break: normal;
      white-space: pre-wrap;
      line-break: auto;
      overflow-wrap: normal;
      list-style: none;
    }
  }

  .read-more {
    margin: 4px -0.5rem 4px auto;
    display: flex;
    align-items: center;
    line-height: initial;
    color: var(--font-link);
    transition: all 0.2s;

    svg {
      min-width: 24px;
      min-height: 24px;
      margin: 2px 0.5rem;
      vertical-align: middle;
      fill: var(--font-link);
    }

    &:focus-visible {
      outline: solid 2px var(--font-link);
    }
  }

  .read-more:hover,
  .read-more:active,
  .read-more:focus {
    color: var(--font-link-hover);
    text-decoration: underline from-font;
    text-underline-offset: 6px;

    svg {
      fill: var(--font-link-hover);
    }
  }
}

hr {
  position: relative;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  border-top: solid 2px var(--border-0);
  background-color: transparent;
  transition: all 0.2s;
}
