.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  color: var(--font-primary);

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 520px) {
    gap: 1.5rem;
  }

  @media (max-width: 460px) {
    gap: 1.25rem;
  }

  .card {
    position: relative;
    width: 100%;
    padding: 1.75rem 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    color: inherit;
    background-color: var(--surface);
    box-shadow: var(--shadow-normal);
    transition: all 0.4s;

    .date {
      color: var(--font-secondary);
      font-weight: 700;
      font-size: 0.925rem;
    }

    .title {
      display: inline-block;
      width: fit-content;
      margin: 0 0 0.125rem 0;
      padding: 0.5rem 0;
      flex: 1;
      font-size: 1.375rem;
      line-height: 1.625;
      color: inherit;
      font-weight: 700;
    }

    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      text-align: justify;
      text-justify: inter-ideograph;
      word-break: break-all;
      color: inherit;
      overflow: hidden;
    }

    .read-more {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 1.5rem;

      svg {
        width: 1.75rem;
        height: 1.75rem;
        color: var(--font-light);
        stroke-width: 1.5;
        transition: all 0.4s;
      }
    }

    &:hover {
      box-shadow: var(--shadow-hover);

      .read-more svg {
        color: var(--font-link);
      }
    }

    &:focus-visible {
      outline: solid 0.25rem var(--font-link);

      .read-more svg {
        color: var(--font-link);
      }
    }
  }
}
