.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  gap: 1.5rem;

  .card {
    position: relative;
    width: 100%;
    padding: 1.75rem 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    border: solid 1px #e0e0e0;
    border-radius: 0.25rem;
    background-color: #fff;
    transition: all 0.4s;

    .date {
      color: #616161;
      font-weight: 700;
    }

    .title {
      display: inline-block;
      width: fit-content;
      margin: 0 0 0.125rem 0;
      padding: 0.5rem 0;
      flex: 1;
      color: #000;
      font-size: 1.375rem;
      line-height: 1.625;
      font-weight: 700;
    }

    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      text-align: justify;
      text-justify: inter-ideograph;
      word-break: break-all;
      overflow: hidden;
    }

    .read-more {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 1.5rem;

      svg {
        width: 1.75rem;
        height: 1.75rem;
        color: #e0e0e0;
        stroke-width: 1.5;
        transition: all 0.4s;
      }
    }

    &:hover {
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.08);

      .read-more svg {
        color: #4964ff;
      }
    }

    &:focus-visible {
      outline: solid 0.25rem #4964ff;

      .read-more svg {
        color: #4964ff;
      }
    }
  }
}
