.list {
  width: auto;
  margin: 0 auto;
  padding: 4rem;
  gap: 1.5rem;
  display: flex;
  color: var(--font-primary);

  .list-column {
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .card {
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 2rem 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.5rem;
    color: inherit;
    background-color: var(--card-background);
    transition: all 0.2s;

    .date {
      display: block;
      font-weight: 700;
      font-size: 1rem;
    }

    .link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .title {
      display: inline-block;
      width: fit-content;
      padding: 0.5rem 0;
      color: inherit;
      font-weight: 700;

      h2 {
        font-size: 1.375rem;
        line-height: 1.625;
      }
    }

    .description {
      text-overflow: ellipsis;
      text-align: justify;
      text-justify: auto;
      overflow-wrap: break-word;
      color: inherit;
      overflow: hidden;
    }

    .read-more {
      width: fit-content;
      display: flex;
      align-items: center;
      margin: 0.5rem 0 0 auto;
      padding: 0.5rem 0;
      cursor: pointer;
      color: var(--font-link);
      transition: all 0.2s;

      svg {
        width: 1.125rem;
        height: 1.125rem;
        margin: 0 0 0 0.5rem;
      }

      &:hover,
      &:focus-visible {
        color: var(--font-link-hover);
        text-decoration: underline from-font var(--font-link-hover);
        text-underline-offset: 0.375em;
      }
    }

    &:focus-visible {
      outline: solid 0.25rem var(--font-link);

      .read-more svg {
        color: var(--font-link);
      }
    }
  }
}
