.utterances-comment {
  width: 100%;
  max-width: calc(var(--article-max-width) + var(--toc-max-width));
  margin: 0 auto;
  padding: 0 0 4rem 0;

  .utterances {
    max-width: calc(var(--article-max-width));
    margin: 0;
  }
}
