.comment-wrapper {
  width: calc(100% + 1rem);
  max-width: calc(var(--main-width) + 1rem);
  margin: 0 -0.5rem;
  padding: 0 0 4rem 0;

  .utterances {
    width: 100%;
    margin: 0;
    max-width: unset;
  }
}
