footer {
  position: relative;
  margin: 2.5rem 0 0 0;
  padding: 1rem 0;
  border-top: solid 1px #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  transition: all 0.2s;

  a {
    width: fit-content;
    color: #616161;
    font-size: 0.925rem;
    font-weight: 300;
    line-height: 2;

    img {
      height: 1rem;
      margin: -0.125rem 0.5rem;
      filter: grayscale(1);
      transition: all 0.2s;
    }
  }
}
