header {
  width: 100%;
  height: 100vh;
  padding: 6rem 0;
  z-index: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background);

  @media (max-width: 640px) {
    padding: 4rem 0;
  }

  @media (max-width: 520px) {
    height: auto;
    padding: 0 1.5rem;
    flex-direction: row;
  }

  @media (max-width: 450px) {
    padding: 0 1rem;
  }

  section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 520px) {
      width: fit-content;
      flex-direction: row;
    }
  }

  a,
  button,
  .menu-button {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--header-button-background);
    cursor: pointer;
    transition: all 0.2s;

    @media (max-width: 450px) {
      width: 3.5rem;
      height: 3.5rem;
    }

    &:hover {
      background-color: var(--header-button-background-hover);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--font-primary);

      @media (max-width: 450px) {
        width: 1.375rem;
        height: 1.375rem;
      }
    }
  }

  input,
  .menu,
  .menu-wrapper {
    opacity: 0;
    visibility: hidden;
  }

  .menu {
    position: absolute;
    top: 75%;
    left: 100%;
    z-index: 120;
    margin: 0 0.75rem;
    padding: 0.75rem 0;
    border-radius: 0.25rem;
    background-color: var(--popover-background);
    box-shadow: var(--shadow-normal);
    transform: translateY(-50%);
    transition: all 0.2s;

    a {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0.25rem 1.25rem;
      border-radius: 0;
      color: var(--popover-color);
      background-color: transparent;

      &:hover {
        background-color: var(--popover-background-hover);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -1rem;
      width: fit-content;
      border: solid 0.5rem transparent;
      border-right: solid 0.5rem var(--popover-background);
      z-index: 10;
      transform: translateY(-50%);
      box-shadow: var(--shadow-normal);
      transition: all 0.2s;
    }

    @media (max-width: 540px) {
      top: 100%;
      left: unset;
      right: 0;
      margin: 0.75rem 0;
      transform: unset;

      &::after {
        left: 50%;
        top: -1rem;
        border: solid 0.5rem transparent;
        border-bottom: solid 0.5rem var(--popover-background);
        transform: unset;
      }
    }
  }

  .menu-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }

  input[type="checkbox"]:checked {
    & ~ .menu,
    & ~ .menu-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}

.skip-link {
  position: fixed;
  z-index: 1000;
  top: -3rem;
  left: 1rem;
  width: auto;
  max-width: calc(100% - 2rem);
  height: auto;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--font-link);
  background-color: var(--background);
  text-decoration: none;
  white-space: pre-wrap;
  font-weight: 700;
  opacity: 0;
  outline: none;
  transition: all 0.2s;

  &:focus-visible {
    top: 1rem;
    opacity: 1;
    outline: solid 0.25rem var(--font-link);
  }
}
