header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 4rem;

  h1 {
    padding: 1.5rem 0;

    img {
      height: 2rem;
      pointer-events: none;
    }
  }
}

.skip-link {
  position: fixed;
  z-index: 1000;
  top: -3rem;
  left: 1rem;
  width: auto;
  max-width: calc(100% - 2rem);
  height: auto;
  padding: 0.25rem 0.75rem;
  border: solid 1px #e0e0e0;
  border-radius: 0.25rem;
  color: #4964ff;
  background-color: #fff;
  text-decoration: none;
  white-space: pre-wrap;
  font-weight: 700;
  opacity: 0;
  outline: none;
  transition: all 0.2s;

  &:focus-visible {
    top: 1rem;
    opacity: 1;
    outline: solid 0.25rem #4964ff;
  }
}
