.skip-link {
  position: fixed;
  z-index: 999999;
  top: -48px;
  left: 16px;
  width: auto;
  max-width: calc(100% - 32px);
  height: auto;
  padding: 8px 18px;
  border: solid 2px #4964ff;
  border-radius: 0.25rem;
  color: #4964ff;
  background-color: #fff;
  text-decoration: none;
  white-space: pre-wrap;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  opacity: 0;
  outline: none;
  transition: all 0.2s;

  &:active,
  &:focus {
    top: 16px;
    opacity: 1;
  }

  &:focus-visible {
    top: 16px;
    opacity: 1;
    border-width: 0.25rem;
  }
}
