.message {
  position: relative;
  display: flex;
  flex-direction: column;

  h4 {
    padding: 1.5rem 0 0.5rem 0;
    font-size: 1rem;
  }

  p {
    text-align: justify;
    text-justify: inter-ideograph;
  }

  ul {
    margin: 0 -0.5rem;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 2.25rem;
      height: 2.25rem;
      margin: 0.5rem;
      list-style: none;

      a {
        position: relative;

        &::before {
          content: attr(title);
          position: absolute;
          left: 50%;
          top: -3.85rem;
          padding: 0.125rem 0.5rem;
          border-radius: 0.25rem;
          background-color: #282828;
          opacity: 0;
          visibility: hidden;
          z-index: 10;
          color: #fff;
          font-size: 0.875rem;
          transform: translateX(-50%);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
          transition: all 0.2s;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: -2rem;
          border: solid 0.5rem transparent;
          border-top: solid 0.5rem #282828;
          opacity: 0;
          visibility: hidden;
          z-index: 10;
          transform: translateX(-50%);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
          transition: all 0.2s;
        }

        &:hover::before,
        &:hover::after {
          opacity: 1;
          visibility: visible;
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.08);
      }
    }
  }
}
