.notification {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: fit-content;
  height: auto;
  margin: 48px;
  padding: 20px 28px 18px 28px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--font-primary);
  background-color: var(--background-0);
  box-shadow: var(--shadow-deep);

  &.update-now {
    border-left: solid 8px var(--info);
  }

  &.outdated-content {
    border-left: solid 8px var(--warn);
  }

  @media (max-width: 824px) {
    max-width: calc(100% - 72px - 96px);
  }

  @media (max-width: 480px) {
    margin: 16px;
    max-width: unset;
  }

  section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  p {
    margin: 0;

    svg {
      min-width: 16px;
      min-height: 16px;
      margin: 2px 0.75rem 2px 1px;
      vertical-align: middle;
      fill: var(--font-secondary);
    }
  }

  .icon {
    margin: 0 0.75rem 0 0;
    width: 20px;
    height: 20px;
    fill: var(--font-primary);
  }

  .title {
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--font-secondary);
    font-size: 1rem;
    font-weight: normal;
  }

  &.show {
    display: flex;
  }

  .reload-page {
    width: 24px;
    height: 32px;
    margin: 0 0 0 24px;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    svg {
      width: 20px;
      height: 20px;
      fill: var(--font-primary);
    }
  }

  .close-notification {
    width: 24px;
    height: 32px;
    margin: 0 0 0 24px;
    border: none;
    display: flex;
    align-items: center;
    background: transparent;
    cursor: pointer;
    outline: none;

    svg {
      fill: var(--font-primary);
    }
  }
}
