.notification {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: fit-content;
  height: auto;
  margin: 48px;
  padding: 18px 28px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--font-primary);
  background-color: var(--background-0);
  box-shadow: var(--shadow-deep);

  &.update-now {
    border-left: solid 8px var(--info);
  }

  &.outdated-content {
    border-left: solid 8px var(--warn);
  }

  @media (max-width: 864px) {
    max-width: calc(100% - 72px - 96px);
  }

  @media (max-width: 480px) {
    margin: 16px;
    max-width: unset;
  }

  section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }

  &.show {
    display: flex;
  }

  button {
    width: 24px;
    height: 100%;
    min-height: 32px;
    margin: 0 0 0 24px;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
