p.tags {
  margin: 0 0 0 0.75rem;
  display: flex;
  align-items: center;
}

.pill {
  width: auto;
  margin: 0 0.75rem 0 0;
  padding: 2px 16px;
  display: flex;
  align-items: center;
  color: var(--font-code);
  background-color: var(--background-4);
  border-radius: 36px;
  font-size: 0.925rem;
  font-family: var(--font-sans);
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.2s;
  cursor: pointer;

  &:last-of-type {
    margin: 0;
  }

  svg {
    margin: 0 0.5rem 0 0;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    color: var(--font-primary);
    background-color: var(--background-9);
    text-decoration: none;
  }

  &:focus {
    color: var(--font-code);
    text-decoration: none;
  }

  &:focus-visible {
    color: var(--font-primary);
    outline: solid 2px var(--font-link);
  }
}
