---
import GitHubLogo from '../../assets/github-logo.svg'
import ExternalLink from '../../components/base/ExternalLink.astro'
import Spinner from '../../components/base/Spinner.astro'

const contributions = Astro.resolve('../../libs/github-contributions')
---

<section>
  <div data-bar>
    <ExternalLink href="https://github.com/Lifeni">
      <img src={GitHubLogo} alt="GitHub" data-invert />
    </ExternalLink>
    <span data-count> 数据加载中 🍪</span>
  </div>

  <div data-grid>
    {Array(54 * 7)
      .fill('0')
      .map(() => <span aria-hidden />)}

    <div data-spinner>
      <Spinner />
    </div>
  </div>
</section>

<script type="module" src={contributions} hoist></script>

<style lang="less">
  section {
    width: calc(100% + var(--extra-margin) * 2);
    margin: 0 calc(var(--extra-margin) * -1);
    padding: 1.125rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: var(--card-background);

    div[data-container] {
      height: 100%;
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: var(--font-secondary);
    }

    div[data-bar] {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--font-primary);
      }
    }

    div[data-grid] {
      position: relative;
      margin: 0 0 0.25rem 0;
      padding: 0.75rem 0 0.5rem 0;
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(7, 1fr);
      grid-template-columns: repeat(54, 1fr);
      gap: 0.25rem;
      overflow-x: auto;
      scrollbar-width: thin;

      div[data-spinner] {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 1rem 0 0 0;
        z-index: 1;
        transform: translate(-50%, -50%);
      }

      &::-webkit-scrollbar {
        height: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        border-radius: calc(var(--border-radius) / 2);
        border: var(--border);
        background-color: var(--scrollbar-background);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: calc(var(--border-radius) / 2);
        border: var(--border);
        background-color: var(--scrollbar-thumb-background);
        cursor: pointer;

        &:hover {
          background-color: var(--scrollbar-background-hover);
        }

        &:active {
          background-color: var(--scrollbar-background-focus);
        }
      }

      span {
        width: 1rem;
        height: 1rem;
        border-radius: calc(var(--border-radius) / 2);
        border: var(--border);
        background-color: var(--placeholder-background);

        &[data-level='1'] {
          background-color: var(--graph-1);
        }

        &[data-level='2'] {
          background-color: var(--graph-2);
        }

        &[data-level='3'] {
          background-color: var(--graph-3);
        }

        &[data-level='4'] {
          background-color: var(--graph-4);
        }
      }
    }
  }
</style>
