---
import '@fontsource-variable/inter'
import '@unocss/reset/tailwind-compat.css'

import { info } from '@libs/const'

export interface Props {
  title?: string
  description?: string
  color?: string
  favicon?: string
}

const production = import.meta.env.PROD

const {
  title = info.title,
  description = info.description,
  color = info.color,
  favicon = info.favicon,
} = Astro.props
---

<!doctype html>
<html lang="zh-hans" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="theme-color" content={color} />
    <link rel="icon" href={favicon} />
    <link rel="manifest" href="/manifest.webmanifest" />
    <slot name="meta" />
  </head>

  <body bg="main" text="main" font="medium sans" flex="~ col" min-h="screen">
    <slot name="header" />
    <slot name="nav" />
    <div flex="1">
      <slot />
    </div>
    <slot name="footer" />

    {
      production && (
        <section
          z="9999"
          pos="fixed left-0 bottom-0"
          w="full"
          p="2"
          bg="yellow-400"
          text="dark-900 sm"
          font="bold"
          flex="~ items-center justify-center"
        >
          网站正在重新设计中，部分功能和内容还没完成。
        </section>
      )
    }
  </body>
</html>
