---
import Layout from "component:Layout"
---

<Layout title="页面不见了" description="啥也没有。">
  <article>
    <h1><code>404</code> 页面不见了</h1>
  </article>
</Layout>

<style lang="less">
  article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;

    h1 {
      font-weight: 500;
      font-size: 1.5rem;
      display: flex;
      align-items: center;

      code {
        padding: 0 1.5rem 0 0;
        margin: 0 1.5rem 0 0;
        font-size: 1.75rem;
        font-weight: 800;
        font-family: var(--font-sans);
        border: none;
        border-right: var(--border);
        background-color: transparent;
        line-height: 1.5;
      }
    }
  }
</style>
