---
import Layout from 'component:Layout'
---

<Layout title="404" description="你找的页面不见了。">
  <article>
    <h1>
      <strong>404</strong>
      <span data-divider>|</span>
      <span>页面不见了</span>
    </h1>
  </article>
</Layout>

<style lang="less">
  :global(body) {
    background-color: var(--background) !important;
  }

  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-sans);
    line-height: 1.875;

    h1 {
      margin: 0 0 4.5rem 0;
      font-size: 1.5rem;
      font-weight: var(--font-normal);
      user-select: none;

      span[data-divider] {
        margin: 0 0.5rem;
      }
    }
  }
</style>
