---
export interface Props {
  title?: string
  description?: string
}

import '@fontsource/noto-sans-sc/500.css'
import '@fontsource/noto-sans-sc/700.css'
import '@fontsource/noto-sans-sc/900.css'
import '@fontsource-variable/inter'
import '@fontsource-variable/jetbrains-mono'

const { title = '时间之外', description = '在这里尝试做一些有趣的东西。' } =
  Astro.props
---

<html lang="zh-hans">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lab | {title}</title>

    <meta name="description" content={description} />
    <meta name="theme-color" content="#f8584f" />
    <link rel="icon" href="/lab/favicon.svg" />
    <link rel="manifest" href="/manifest.webmanifest" />
  </head>

  <body
    position="relative"
    w="screen"
    h="screen"
    flex="~ col items-center justify-start"
    text="main"
    font="500 sans"
    bg="paper"
    overflow="x-hidden y-auto"
    scroll="smooth"
    scrollbar="sm:~ sm:rounded sm:main"
  >
    <slot />
  </body>
</html>
