:root {
  --main-width: 38rem;
  --article-width: 38rem;

  --background: #ffffff;
  --element-background: #f6f8fa;
  --element-background-hover: #f2f5f8;

  --element-blur-background: #f6f8fadd;
  --element-blur-background-hover: #f2f5f8dd;

  --popover-color: #ffffff;
  --popover-background: #181a1c;
  --popover-background-hover: #1e2022;

  --border: solid 1px #e6eaee;
  --border-block: solid 0.5rem #f2f5f8;
  --border-color: #e6eaee;

  --shadow-normal: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.01);
  --shadow-hover: 0 0.5rem 2rem rgba(0, 0, 0, 0.06);

  --font-primary: #282828;
  --font-secondary: #67707a;
  --font-light: #e6eaee;
  --font-link: #0366d6;
  --font-link-hover: #065bbd;

  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-sans: "Inter", -apple-system, "HarmonyOS Sans SC", "Source Han Sans SC",
    "Source Han Sans", "Noto Sans SC", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, var(--font-emoji);
  --font-serif: "Source Han Serif SC", "Source Han Serif", "Noto Serif SC",
    "Noto Serif", Georgia, "Times New Roman", Times, "Droid Serif", serif,
    var(--font-emoji);
  --font-mono: "JetBrains Mono", "Fira Mono", Consolas, "Courier New",
    "Droid Sans Mono", var(--font-sans);

  font-size: 18px;
}

@media (max-width: 600px) {
  :root {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121416;
    --element-background: #16181a;
    --element-background-hover: #181a1c;

    --element-blur-background: #16181add;
    --element-blur-background-hover: #181a1cdd;

    --border: solid 1px #1a1e1f;
    --border-block: solid 0.5rem #181a1c;
    --border-color: #1a1e1f;

    --shadow-normal: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.02);
    --shadow-hover: 0 0.5rem 2rem rgba(0, 0, 0, 0.12);

    --font-primary: #d1d5da;
    --font-secondary: #8b949e;
    --font-light: #30363d;
    --font-link: #58a6ff;
    --font-link-hover: #71b4ff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
}

body {
  position: relative;
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.875;
  color: var(--font-primary);
  background-color: var(--background);
  transition: all 0.2s;
}

.medium-zoom--opened header {
  top: -8rem;
}

@media (max-width: 800px) {
  .medium-zoom--opened header {
    top: -7.5rem;
  }
}

@media (max-width: 720px) {
  .medium-zoom--opened header {
    top: -5rem;
  }
}
