:root {
  --font-size: 15px;

  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-sans: "Inter", -apple-system, "HarmonyOS Sans SC", "Source Han Sans SC",
    "Source Han Sans", "Noto Sans SC", BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, var(--font-emoji);

  --font-serif: "Source Han Serif SC", "Source Han Serif", "Noto Serif SC",
    "Noto Serif", Georgia, "Times New Roman", Times, "Droid Serif", serif,
    var(--font-emoji);

  --font-mono: "JetBrains Mono", "Fira Mono", Consolas, "Courier New",
    "Droid Sans Mono", var(--font-sans);

  --main-width: 600px;
  --sidebar-width: 306px;
  --focus-width: 600px;

  --background: #ffffff;
  --element-background: #f6f8fa;
  --element-background-hover: #f2f5f8;

  --border-width: 1px;
  --border-color: #e6eaee;
  --border: solid var(--border-width) var(--border-color);
  --border-block: solid 0.5rem #f2f5f8;
  --border-radius: 0.5rem;

  --font-primary: #282828;
  --font-secondary: #6a737d;
  --font-light: #e6eaee;
  --font-link: #0366d6;
  --font-link-hover: #065bbd;

  --shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #16181a;
    --element-background: #1a1c1e;
    --element-background-hover: #1e2224;

    --border-color: #202426;
    --border: solid var(--border-width) var(--border-color);
    --border-block: solid 0.5rem #1e2224;

    --font-primary: #c1c5ca;
    --font-secondary: #8b949e;
    --font-light: #30363d;
    --font-link: #58a6ff;
    --font-link-hover: #71b4ff;
  }
}
