---
import type { MDXInstance } from 'astro'
import Layout from '../../components/Layout.astro'
import type { Story } from '../../types.d'
import { unify } from '../../libs/utils'

export async function getStaticPaths() {
  const production = import.meta.env.MODE === 'production'
  const output = (stories: MDXInstance<Story>[]) =>
    stories
      .filter(({ frontmatter }) => !production || !frontmatter.draft)
      .map(story => ({
        params: { id: story.frontmatter.id },
        props: { story },
      })) || []

  const stories = (await Astro.glob(
    '../../notebook/专题/*.mdx'
  )) as MDXInstance<Story>[]

  return output(stories)
}

const { frontmatter, Content } = Astro.props.story
export const prerender = true
---

<Layout
  title={frontmatter.name}
  description={frontmatter.description}
  app="记录干杯"
  paper
>
  <div w="full" flex="~ 1 col items-center justify-start" p="4">
    <article class="prose" w="full" max-w="2xl" text="base">
      <Content />
    </article>
  </div>
</Layout>
