---
import Layout from '../../components/Layout.astro'
---

<Layout title="专题" index>
  <div flex="~ 1 items-center justify-center" p="b-4">
    <h1 text="2xl" font="800" select="none">专题</h1>
  </div>
</Layout>
