---
import Layout from '../../components/Layout.astro'
import Section from '../../components/base/Section.astro'
import Stories from '../../components/dashboard/lists/Stories.astro'

export const prerender = true
---

<Layout title="专题" description="" app="记录干杯">
  <div w="full" flex="~ 1 col items-center justify-start gap-6 sm:gap-8" p="4">
    <Section name="专题" icon="icon-tabler:message-2">
      <Stories mode="grid" />
    </Section>
  </div>
</Layout>
