---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import List from '@components/notebook/List.astro'
import Notebook from '@components/notebook/Notebook.astro'
import Drawer from '@components/notebook/header/Drawer.astro'
import Nav from '@components/notebook/header/Nav.astro'
import { getCollection } from 'astro:content'

const stories = (await getCollection('专题'))
  .map(({ data }) => data)
  .filter(({ hide, draft }) => !hide && (import.meta.env.DEV || !draft))
  .filter(({ group }) => group)
  .sort((a, b) => b.date.updated.getTime() - a.date.updated.getTime())

const contents = [
  ...stories.filter(({ star }) => star),
  ...stories.filter(({ star }) => !star),
]
---

<Notebook name="专题">
  <Header blur>
    <Nav slot="left" name="专题" />
    <Drawer slot="right" />
  </Header>
  <main
    id="~"
    flex="~ 1 col items-center"
    p="x-5 t-16 b-10"
    transition:animate="fade"
  >
    <List name="专题" type="story" {contents} />
  </main>
  <Footer />
</Notebook>
