---
import Tooltip from '../ui/Tooltip.astro'

export interface Props {
  icon: string
  name: string
  href: string
  theme?: 'paper' | 'main'
}
const { icon, name, href, theme } = Astro.props
---

<Tooltip label={name} shape="circle">
  <a
    aria-label={name}
    href={href}
    target={href.startsWith('http') ? '_blank' : '_self'}
    rel={href.startsWith('http') ? 'nofollow noopener noreferrer' : ''}
    p="2.5"
    flex="~ col items-center"
    rounded="full"
    bg={theme === 'paper' ? 'group-hover:subtle' : 'group-hover:action'}
    outline="~ none focus-visible:(4 yellow offset-0)"
    transition="background-color"
  >
    <div class={icon} w="6" h="6"></div>
  </a>
</Tooltip>
