{
  !import.meta.env.PROD && (
    <section
      w="full"
      p="1.5"
      bg="yellow-400"
      text="dark-900 xs"
      font="bold"
      flex="~ items-center justify-center"
      pointer-events="none"
    >
      网站正在施工中，部分功能和内容还没完成。
    </section>
  )
}
