---
interface Props {
  orientation?: 'horizontal' | 'vertical'
  class?: string
}

const { orientation = 'horizontal', class: className } = Astro.props
---

<span
  class:list={[
    orientation === 'vertical' ? 'w-auto' : 'w-full',
    orientation === 'vertical' ? 'border-r' : 'border-t ',
    'flex',
    'border-neutral-200 dark:border-neutral-700',
    className,
  ]}
>
</span>
