---
interface Props {
  href: string
  name: string
  class?: string
}

const { href, name, class: className } = Astro.props
---

<a
  href={href}
  target={href.startsWith('http') ? '_blank' : '_self'}
  rel={href.startsWith('http') ? 'nofollow noopener noreferrer' : ''}
  class:list={[
    'text-neutral-500 hover:text-neutral-600 dark:text-neutral-400 dark:hover:text-neutral-300',
    'truncate',
    'no-underline underline-offset-4 hover:underline',
    'focus-visible:outline-yellow-500 dark:focus-visible:outline-yellow-400 focus-visible:outline-4 focus-visible:outline-offset-2',
    'rounded-md',
    'transition-all',
    className,
  ]}
>
  {name}
</a>
