---
interface Props {
  code: string | number
  text: string
}
const { code, text } = Astro.props
---

<div
  class:list={[
    'flex-1 flex flex-col items-center justify-center gap-2',
    'select-none',
  ]}
>
  <code class:list={['m-0', 'text-6xl font-mono font-bold']}>{code}</code>
  <h1
    class:list={[
      'm-0',
      'text-xl text-neutral-500 dark:text-neutral-500 font-medium',
    ]}
  >
    {text}
  </h1>
</div>
