---
export interface Props {
  class?: string
}

const { class: classes } = Astro.props
---

<div class={`group ${classes} pointer-events-auto`}>
  <slot name="action" />

  <div
    class="invisible group-focus-within:visible"
    pos="fixed top-0 left-0 z-50"
    w="full"
    h="screen dvh"
    op="0 group-focus-within:100"
    bg="back"
    transition="all"
  >
  </div>
  <div
    class="invisible group-focus-within:visible"
    pos="fixed top-0 left-0 z-50"
    w="full"
    h="screen dvh"
    overflow="hidden"
  >
    <div
      class="scrollbar-none"
      pos="absolute left-0 top-25vh xs:(top-0 right-0 left-unset) z-100"
      w="full xs:72"
      h="75vh 75dvh xs:(screen dvh)"
      shadow="none group-focus-within:lg"
      transform="~ translate-x-0 translate-y-75vh translate-y-75dvh xs:(translate-x-72 translate-y-0) group-focus-within:(translate-x-0 translate-y-0)"
      bg="popover"
      rounded="t-md xs:none"
      transition="all duration-300"
      overflow="y-auto"
    >
      <slot name="content" />
    </div>
  </div>
</div>
