<form
  class="w-full"
  action="https://google.com/search"
  method="get"
  target="_blank"
>
  <input type="hidden" name="q" value="site:lifeni.life" />
  <input
    class="w-full px-4 py-3 rounded bg-light-50 dark:bg-dark-800 text-inherit"
    type="search"
    name="q"
    id="search"
    placeholder="在「记录干杯」中搜索 …"
  />
</form>
