---
import Icon from '@components/ui/Icon.astro'
---

<a
  href="#~"
  pos="fixed top-0 left--42 focus:left-0 z-9999999"
  flex="~ row items-center gap-2"
  m="y-4"
  p="x-4 y-2.5"
  text="sm link"
  rounded="r-full"
  shadow="xl"
  underline="~ from-font offset-4"
  bg="popover"
  transition="all 1s"
>
  <span>跳转到主要内容</span>
  <Icon name="跳转" icon="i-ri:arrow-right-line" size="4" />
</a>
