---
export interface Props {
  content?: string
  align?: 'left' | 'center' | 'right'
  circle?: boolean
  extend?: boolean
}

const { content, align = 'center', circle, extend } = Astro.props
---

<div
  tabindex="-1"
  class="group"
  position="relative"
  rounded={circle ? 'full' : 'md'}
>
  {
    extend && (
      <span
        position="absolute"
        top="8"
        left="0"
        z="0"
        w="full"
        h="4"
        invisible
        visible="group-hover:~ group-focus-within:~"
        op="0"
      />
    )
  }
  <slot />

  <span
    class="op-0 group-hover:op-100 group-focus-within:op-100"
    position="absolute"
    left={align === 'center' ? '1/2' : align === 'right' ? 'unset' : '-2'}
    right={align === 'right' ? '-1' : 'unset'}
    top="12"
    z="10"
    flex="~ col"
    invisible
    visible="group-hover:~ group-focus-within:~"
    border="~ 1 color-line"
    bg="muted"
    rounded="md"
    text="sm"
    whitespace="nowrap"
    transform={`~ scale-99 group-hover:scale-100 group-focus-within:scale-100 ${
      align === 'center'
        ? 'translate-x--1/2 origin-t'
        : align === 'left'
        ? 'origin-lt'
        : 'origin-rt'
    }`}
    shadow="none group-hover:xl group-focus-within:xl"
    transition="all"
  >
    <slot name="content">
      <span p="x-2 y-1" font="500">{content}</span>
    </slot>
  </span>
</div>
