---
export interface Props {
  label?: string
  placement?: 'left' | 'center' | 'right'
  shape?: 'circle' | 'square'
}

const { label, placement = 'center', shape = 'square' } = Astro.props
---

<div
  tabindex="-1"
  class="group"
  position="relative"
  rounded={shape === 'circle' ? 'full' : 'md'}
>
  <slot />

  <span
    class="op-0 group-hover:op-100 group-focus-within:op-100"
    tabindex="-1"
    position="absolute"
    left={placement === 'center'
      ? '1/2'
      : placement === 'right'
      ? 'unset'
      : '-2'}
    right={placement === 'right' ? '-1' : 'unset'}
    top="12"
    z="10"
    flex="~ col"
    invisible
    visible="group-hover:~ group-focus-within:~"
    border="~ 1 color-line"
    bg="muted"
    rounded="md"
    text="sm"
    whitespace="nowrap"
    transform={`~ scale-99 group-hover:scale-100 group-focus-within:scale-100 ${
      placement === 'center'
        ? 'translate-x--1/2 origin-t'
        : placement === 'left'
        ? 'origin-lt'
        : 'origin-rt'
    }`}
    shadow="none group-hover:xl group-focus-within:xl"
    transition="all"
  >
    <slot name="label">
      <span p="x-2 y-1" font="500">{label}</span>
    </slot>
  </span>
</div>
